<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      
      <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
      
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script src="/javascripts/eventosMgr.js"></script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.1.226/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.1.226/styles/kendo.material.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    
    <script src="//kendo.cdn.telerik.com/2016.1.226/js/kendo.all.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
  </head>
  <body ng-app="eventos" class="bgrdBody"> 
	<nav class="navbar navbar-static-top navbar-dark bg-inverse p10" 
         style="background-color: #01648B;border-bottom: orange 5px solid;" 
         ng-controller="NavCtrl">
        
		 <h2><dl>
		 <a href="/#/home" style="float:left; color: white;">
            IMAGÉN RIEGO        </a>
          </dl>
        </h2>
        
        <ul class="nav navbar-nav  pull-right">
            <!--<li ng-show="isLoggedIn()">
                <a class="btn btn-menu" href="/eventos/#/agregar-evento">Agregar Eventos</a>
            </li>-->
            <li ng-show="isLoggedIn()"><a href="/eventos/#/principal" class="btn btn-menu">Eventos</a></li>
            <li><a href="/eventos/#/portafolio" class="btn btn-menu">Portafolio</a></li>
		      <li ng-show="isLoggedIn()"><a href="/profile/#/override" class="btn btn-menu">{{ currentUser() }}</a></li>
		      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()" class="btn btn-menu">Log Out</a></li>
		      <li ng-hide="isLoggedIn()"><a href="/#/login" class="btn btn-menu">Log In</a></li>
		      <li ng-hide="isLoggedIn()"><a href="/#/register" class="btn btn-menu">Register</a></li>
		</ul>
	</nav>
  
	
	<ui-view></ui-view>
      
      
      <script type="text/ng-template" id="/principal.html">
          <div class="row">
            <div class="col-md-4 col-md-offset-4 bgrdWhite">
                <div class="page-header" >
                    <h1 class="lblAzulObscuro">PRincipal</h1>
                </div>


          </div>
        </script>
      
<script type="text/ng-template" id="/agregar-evento.html">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 bgrdWhite">
            <div class="page-header divAlignCenter" >
                <h1 class="lblPrincipal">Agregar Evento</h1>
            </div>

            <form ng-submit="agregarEvento()" class="m30">
                <div class="form-group">
                    <input type="text" 
                        placeholder="nombre" 
                        ng-model="evento.nombre"
                        class="form-control"></input>
                </div>
                <div class="form-group">
                    <input type="text" 
                        placeholder="descripcion" 
                        ng-model="evento.descripcion"
                        class="form-control"></input>
                </div>
                <div class="form-group">
                    <input type="text" 
                        placeholder="direccion" 
                        ng-model="evento.direccion"
                        class="form-control"></input>
                </div>
                
                <div class="form-group">
                    Banner: 
                    <input name="files"
                       type="file"
                       kendo-upload
                       k-options="uploadOptions" />
                </div>
                
                <div class="form-group">
                    <input kendo-date-time-picker
                       ng-model="evento.fechaInicioK"
                       k-ng-model="evento.fechaInicio"
                       placeholder="fecha inicio"
                       style="width: 100%;" />
                </div>
                
                <div class="form-group">
                    <input kendo-date-time-picker
                       ng-model="evento.fechaFinK"
                       k-ng-model="evento.fechaFin"
                       placeholder="fecha fin"
                       style="width: 100%;" />
                </div>
                
                <div class="form-group">
                    Fotos:
                    <input name="files"
                       type="file"
                       kendo-upload
                       k-options="uploadOptionsFotos" />
                </div>
                
                <button class="btn btn-primary">Guardar</button>
            </form>
        </div>

    </div>
</div>
</script>
      
      
<script type="text/ng-template" id="/eventos.html">
<div class="container">
<div class="row">
    <div class="col-md-8 col-md-offset-2 bgrdWhite">
        <div class="row" >
            <div style="float:right;">
                <a class="qodef-icon-shortcode normal qodef-icon-huge" href="/eventos/#/agregar-evento">
                    <i class="qodef-icon-font-awesome fa fa-plus qodef-icon-element" style=""></i>
                </a>
            </div>
        </div>
        
        <div kendo-grid k-data-source="eventos" k-selectable="'row'"
            k-pageable='{ "pageSize": 2, "refresh": true, "pageSizes": true }'
              k-columns='[
                { "field": "nombre", "title": "nombre"},
                { "field": "direccion", "title": "direccion"},
                { "field": "fechaInicio", "title": "fechaInicio" },
                { "field": "fechaFin", "title": "fechaFin" }
              ]'>
            </div>
    </div> 
</div>
</div>
</script>
      
      
<script type="text/ng-template" id="/portafolio-evento.html">
<div class="container">
<div class="row">
    <div class="col-md-8 col-md-offset-2 bgrdWhite divPadTop20">
        
    
         <img class="img-responsive img-portfolio img-hover" src="/uploads/{{evento.banner}}"  alt="">
        
        
        <h1>{{evento.nombre}}</h1>
        <h3>{{evento.direccion}}</h3>
        <p>{{evento.direccion}}</p>
        <p>{{evento.fechaInicio  | date:'MM/dd/yyyy h:mma'}}</p>
        <p>{{evento.fechaFin  | date:'MM/dd/yyyy h:mma'}}</p>

        
         <div class="demo-section k-content wide divPadTop20">
            <div kendo-list-view id="listView" k-data-source="sourceFotosEvento">
                <div class="product divFlotante div30perc" k-template>
                    
                    <a name="{{ dataItem._id }}" style="display:block;" >
                    <img ng-src="/uploads/{{dataItem.url}}" alt=" {{dataItem.descripcion}} image" width="100%" height="200" />
                    </a>
                </div>
            </div>
            <div kendo-pager k-data-source="sourceFotosEvento"></div>
        </div>
        
    </div> 
</div>
</div>
</script>
      
      
<script type="text/ng-template" id="/portafolio.html">
<div class="container">
<div class="row">
    <div class="col-md-8 col-md-offset-2 bgrdWhite">
        
        
        <div class="demo-section k-content wide">
            <div kendo-list-view id="listView" k-data-source="sourceEventosCompletos">
                <div class="product divPadTop20 row" k-template>
                    <div class="col-md-4">
                        <a href="\\#/portafolio-evento/{{ dataItem._id }}" style="display:block;" >
                        <img ng-src="/uploads/{{dataItem.banner}}" alt=" {{dataItem.nombre}} image" style="width:100%;" />
                        </a>
                    </div>
                    <div class="col-md-6" style="padding-right:0;">
                        <h4 class="lblPrincipal">{{dataItem.nombre}}</h4>
                        <p>{{dataItem.fechaInicio}} - {{dataItem.fechaFin}}</p>
                        <p>{{dataItem.direccion}}</p>
                    </div>
                </div>
            </div>
            <div kendo-pager k-data-source="sourceEventosCompletos"></div>
        </div>
    
    </div> 
</div>
</div>
</script>
      
	
  </body>
</html>