
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      
      <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    
      
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/extra.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angulike.js"></script>
	<script src="/javascripts/realTimeApp.js"></script>
    
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.1.226/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.1.226/styles/kendo.material.min.css" />
    
    <script src="https://kendo.cdn.telerik.com/2016.1.226/js/kendo.all.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
      
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8Xq5o6lNl4YyFt0F30E_yas-zDNk3sMg" async defer></script>

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/videogular/1.4.4/videogular.min.js"></script>
      <!--<script src="http://static.videogular.com/scripts/videogular/latest/videogular.js"></script>-->
    
      <script> 
          if (!String.prototype.format) {
              String.prototype.format = function() {
                var args = arguments;
                return this.replace(/{(\d+)}/g, function(match, number) { 
                  return typeof args[number] != 'undefined'
                    ? args[number]
                    : match
                  ;
                });
              };
            }
      </script>
    
      <style>
          
        body {
            background: whitesmoke;
        }
        .container-fluid {
            margin-top : 10px   ;    
        }
          
       .title {
            color: #00587c;
       }
    
        .subtitle-inverse {
            color: darkgray;
        }
          
        .btn-edit {
            background-color: black;
        }
          
          
          
        #map {
            height: 350px;
            width: 100%;
            }
          
      </style>
  </head>
    
  <body ng-app="realTime" class="bgrdBody">
      <header class="headerPrincipal">
        <nav class="navbar navbar-static-top navbar-dark bg-inverse p10 menuPrincipal" 
             ng-controller="NavCtrl">
            <div class="container">
            <div class="container-fluid">
            <h3 style="float:left; margin:10px 0;">
                <dl>
                     <a href="/#/home" style="float:left; color: white;">
                       <span class="glyphicon glyphicon-grain" aria-hidden="true" style="margin-right:2px;"></span>
                         RIEGO SUSTENTABLE       
                     </a> 
                </dl>
            </h3>

            <ul class="nav navbar-nav  pull-right">

                <li class="dropdown">
                    <a class="dropdown-toggle btn-menu" data-toggle="dropdown" style="color:white;">Industria
                    <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="m10"
                        ng-repeat="categoria in categorias">
                        <a href="/#/directorio/{{ categoria.id }}">{{ categoria.nombre }}</a>
                        </li>

                      </ul>
                </li>


                 <li class="dropdown">
                    <a class="dropdown-toggle btn-menu" data-toggle="dropdown" style="color:white;">Tipo Industria
                    <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="m10"
                        ng-repeat="tipo in tipo_industria">
                        <a href="/#/directorio/{{ tipo.id }}">{{ tipo.nombre }}</a>
                        </li>

                      </ul>
                </li>

                 <li class="dropdown">
                    <a class="dropdown-toggle btn-menu" data-toggle="dropdown" style="color:white;">Iluminación
                    <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="m10"
                        ng-repeat="tipo in iluminacion">
                        <a href="/#/directorio/{{ tipo.id }}">{{ tipo.nombre }}</a>
                        </li>

                      </ul>
                </li>


                <li><a href="/eventos/#/principal" class="btn btn-menu">Eventos</a></li>




                <li class="dropdown" ng-show="isLoggedIn()">
                    <a class="dropdown-toggle btn-menu" data-toggle="dropdown" style="color:white;">{{ currentUser() }}
                    <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="m10">
                            <a href="/profile/#/override">Cuenta</a>
                        </li>
                        <li class="m10">
                            <a ng-click="logOut()">Cerrar sesión</a>

                        </li>

                    </ul>
                </li>
                  <li ng-hide="isLoggedIn()"><a href="/#/login" class="btn btn-menu">Iniciar sessión</a></li>
                  <li ng-hide="isLoggedIn()"><a href="/#/register" class="btn btn-menu">Registrarse</a></li>
            </ul>
            </div>
            </div>
        </nav>
      </header>
  
  
	
	<ui-view></ui-view>
    
    <div class="footerCategorias container" ng-controller="MainCtrl">
      <div class="row">
            <div class="col-md-3">
                <!--<h3 class="m10" style="color:gray;">Industria Riego</h3>
                <div class="m10" ng-repeat="categoria in tipo_industria">
                    <a href="/#/directorio/{{ categoria.id }}">{{ categoria.nombre }}</a>
                </div>-->
              <div class="row widgets-wraps">
                <div class="widgettitle_wrap col-md-12">
                    <h2 class="widgettitle">
                        <span>Nuevos Elementos</span>
                    </h2>
                </div>
                <div class="widget_posts_wrap">

                    <ul class="latest-posts items list-unstyled">
                        <li class="col-xs-4 col-sm-4 col-md-4" ng-repeat="noticia in ultimasNoticias.slice(0,3)">
                            <span class="thumb">
                                <a href="/#/noticia/{{noticia._id}}">
                                    <div class="img-wrap-shadow">
                                        <img width="80" height="80" src="/uploads/{{noticia.banner}}" 
                                             class="attachment-javo-tiny size-javo-tiny wp-post-image">								
                                    </div>
                                </a>
                            </span>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
            <div class="col-md-3">
                <!--<h3 class="m10" style="color:gray;">Tipo de industria</h3>
                <div class="m10" style="margin-left:3px;"
                    ng-repeat="categoria in categorias">
                    <a href="/#/directorio/{{ categoria.id }}">{{ categoria.nombre }}</a>
                </div>-->
                <div class="row widgets-wraps">
                    <div class="widgettitle_wrap col-md-12">
                        <h2 class="widgettitle">
                            <a href="/#/eventos">Eventos Recientes</a>
                        </h2>
                    </div>			
                    <div class="widget_posts_wrap">
                        <div class="latest-posts posts row" ng-repeat="evento in ultimosEventos.slice(0,3)">
                            <div class="col-md-12">
                                <span class="thumb">
                                    <a href="/#/evento/{{evento._id}}">
                                        <img width="80" height="80" src="/uploads/{{evento.banner}}" 
                                             class="attachment-javo-tiny size-javo-tiny wp-post-image" >
                                    </a>
                                </span>
                                <h3>
                                    <a href="/#/evento/{{evento._id}}">{{evento.nombre.slice(0,30)}}</a>
                                </h3>
                                <a href="/#/evento/{{evento._id}}">
                                    <span>{{evento.nombre.slice(0,30)}} ...</span>
                                </a>							
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row widgets-wraps">
                    <div class="widgettitle_wrap col-md-12">
                        <h2 class="widgettitle">
                            <a href="/#/noticias">Últimas Noticias</a>
                        </h2>
                    </div>			
                    <div class="widget_posts_wrap">
                        <div class="latest-posts posts row" ng-repeat="noticia in ultimasNoticias">
                            <div class="col-md-12">
                                <span class="thumb">
                                    <a href="/#/noticia/{{noticia._id}}">
                                        <img width="80" height="80" src="/uploads/{{noticia.banner}}" 
                                             class="attachment-javo-tiny size-javo-tiny wp-post-image">
                                    </a>
                                </span>
                                <h3>
                                    <a href="/#/noticia/{{noticia._id}}">{{noticia.titulo.slice(0,30)}}</a>
                                </h3>
                                    <a href="/#/noticia/{{noticia._id}}"><span>{{noticia.titulo.slice(0,30)}} ...</span>
                                </a>							
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
          
            <div class="col-md-3">
            <h3 class="m10" style="color:gray">Contacto</h3>
             <div class="m10" style="margin-left:3px;"     >
                <a>Diplay Imagén y publicidad </a>
                </div>
                <div class="m10" style="margin-left:3px;"     >

                <a>Tel: 4423657157</a>
                </div>
                <div class="m10" style="margin-left:3px;"     >
                <a> aespino@displayimagenpublicidad.com</a>
                </div>
                <div class="m10" style="margin-left:3px;"     >
            </div>
            </div>

            <div class="m10"
                ng-repeat="categoria in iluminacion">
                <a href="/#/directorio/{{ categoria.id }}">{{ categoria.nombre }}</a>
            </div>
        </div>
    </div>

<script type="text/ng-template" id="/directorio.html">
<!--<script> </script> -->
<div>
<div style="height: 400px;">
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
	  <uib-slide ng-repeat="slide in slidesHome" index="slide.id">
		<img ng-src="{{slide.image}}" style="margin:auto; width:100%; height:400px;">
		<div class="carousel-caption" style="bottom:35%;">
		  <h1><div style="color:white;">{{slide.desc}}</div></h1>
		  
		  <div class="col-md-offset-3 col-md-6 input-group">
			<input kendo-auto-complete 
				k-options="autoCompleteOptions"
				ng-model="textoBusqueda"
				style="width: 100%;" />

			<span class="input-group-addon btnGeneral" id="basic-addon2">
			<a href="#/directorio-resultados/{{textoBusqueda}}">Buscar</a>
		</span>
		  </div>
		  
		  <h4><p class="lblBlanco">{{slide.text}}</p></h4>
		</div>
	  </uib-slide>
	</uib-carousel>
</div>
		
<div class="divBloque">
        <div class="divAlignCenter">
            <h2 class="lblPrincipal"> Nuestras Categorías </h2>
        </div>

        <div class="dividerGeneral"></div>

        <div class="divBloque" style="padding-top:0;">
            <div style="width:{{categorias.length * 143}}px; margin:0 auto;">
                <div style="width:143px; float:left;"
                    ng-repeat="categoria in categorias">
                    <div class="itemSliderCategorias">
                        <a href="/#/directorio/{{categoria.id }}">
                            <img src='/uploads/{{ categoria.url || bannerBack }}'/> 

                            <h4 style="text-transform: capitalize;">
                                {{categoria.nombre}}</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="divBloque divGrisClaro">
    <div class="renglonPad50px">
        <div class="divAlignCenter">
            <h2 class="lblPrincipal"> Ventajas del servicio </h2>
        </div>

        <div class="dividerGeneral"></div>

        <div class="divFila">
            <div class="col-md-3" ng-repeat="descS in descServicios">
                <div class="row divAlignCenter" style="padding:0 15px;">
                    <a class="qodef-icon-shortcode normal qodef-icon-huge">
                        <i class="qodef-icon-font-awesome fa {{descS.icono}} qodef-icon-element" style=""></i>
                    </a>
                    <h3 class="lblPrincipal"> {{descS.titulo}} </h3>
                    <p style="text-align:left;"> {{descS.descripcion}}  </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">

        <div class="divAlignCenter renglonPad50px">
            <h2 class="lblPrincipal"> Todo para tu sistema de riego </h2>

            <div class="dividerGeneral"></div>

            <p> Elige tu distribuidor, compara precios y agenda cita. </p>
        </div>

        <div class="dominoItemGallery"  ng-repeat="distribuidor in distribuidores">
            <div class="shadow"></div>
           <div>
                <a href="/#/detalle/{{distribuidor._id }}">
                    <img src='/uploads/{{ distribuidor.banner || bannerBack }}' 
                        style="width:100%;height:266px;"/> 

                    <div class="divBloque divTitulo" style="">
                        <h4 style="">
                            {{distribuidor.nombre}}</h4>
                    </div>
                </a>
            </div>
        </div>

    </div>					
    </div>
</div>

<div class="divBloque divGrisClaro" style="padding-top:0;">
    <div class="divAlignCenter pad50-0">
        <h2 class="lblPrincipal"> Últimos eventos </h2>
        <div class="dividerGeneral"></div>
        <p>Enterese de las novedades en la industria del riego en Latino América</p>
    </div>

    <div id="carouselHomeFull" class="divBloque" style="padding-top:0;">
         <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
          <uib-slide ng-repeat="slideCollection in groupedSlides" index="evento._id">

            <div class="dominoItemGallery col-md-3">
                <div class="shadow"></div>
                <div>
                    <a href="/#/evento/{{ slideCollection.image1._id }}">
                        <img src="../uploads/{{slideCollection.image1.banner}}" />

                        <div class="divBloque divTitulo">
                            <h4> {{slideCollection.image1.nombre}} </h4>
                        </div>
                    </a>
                </div>
            </div>

            <div class="dominoItemGallery col-md-3">
                <div class="shadow"></div>
                <div>
                    <a href="/#/evento/{{ slideCollection.image2._id }}">
                        <img src="../uploads/{{slideCollection.image2.banner}}" />

                        <div class="divBloque divTitulo">
                            <h4> {{slideCollection.image2.nombre}} </h4>
                        </div>
                    </a>
                </div>
            </div>

            <div class="dominoItemGallery col-md-3">
                <div class="shadow"></div>
                <div>
                    <a href="/#/evento/{{ slideCollection.image3._id }}">
                        <img src="../uploads/{{slideCollection.image3.banner}}">

                        <div class="divBloque divTitulo">
                            <h4> {{slideCollection.image3.nombre}} </h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="dominoItemGallery col-md-3">
                <div class="shadow"></div>
                <div>
                    <a href="/#/evento/{{ slideCollection.image4._id }}">
                        <img src="../uploads/{{slideCollection.image4.banner}}">

                        <div class="divBloque divTitulo">
                            <h4> {{slideCollection.image4.nombre}} </h4>
                        </div>
                    </a>
                </div>
            </div>
        </uib-carousel>
    </div>

</div>

<div class="divBloque pad100-0">
    <div class="col-md-offset-2"></div>
    <div class="itemRedesSociales col-md-2 {{$first ? 'col-md-offset-1' : ''}}"
        ng-repeat="redSocial in redesSociales">
            <a class="qodef-icon-shortcode normal qodef-icon-huge">
                <i class="qodef-icon-font-awesome fa {{redSocial.icono}} qodef-icon-element" style=""></i>
            </a>
    </div>
</div>
    
<div class="divBloque" style="padding-top:84px; padding-bottom:140px; background-color:rgb(76, 159, 205);">
    <div class="divAlignCenter">
        <h2 class="lblBlanco">Busqueda de distribuidores</h2>
        <div class="dividerGeneral"></div>
        <p class="lblBlanco" style="margin-bottom: 58px;"> 
            Busca distribuidores en toda América Latina, los mejores productos en el mercado. </p>
        
        <div class="col-md-offset-3 col-md-6 input-group">
			<input kendo-auto-complete 
				k-options="autoCompleteOptions"
				ng-model="textoBusqueda"
				style="width: 100%;" />

            <span class="input-group-addon btnGeneral" id="basic-addon2">
                <a href="#/directorio-resultados/{{textoBusqueda}}">Buscar</a>
            </span>
        </div>
    </div>
</div>
</div>

</script>
        

      
<script type="text/ng-template" id="/directorio-resultados.html">
<!--<script> </script> -->
<div class="altura32"></div>
 <div class="container">
 
    
    <div class="row">
        
        <div class="col-md-2" style="margin:10px" >
                
            <div class="row" >
               <div class="panel panel-primary">
                    <div class="panel-heading"><b>Categorias</b></div>
                        <div class="panel-body">
                          <div ng-repeat="categoria in categorias">
                          <b>
                          
<label class="checkbox-inline"><input type="checkbox" value="">
                              <a style="color:gray" href="/#/directorio/{{ categoria.id }}">{{ categoria.nombre }}</a>
                              </label>
                              </b>
                            </div>
                        </div>
                     </div>
             </div>
                             
            <div class="row" >
               <div class="panel panel-primary">
                    <div class="panel-heading"><b>Pais</b></div>
                        <div class="panel-body">
                          <div >
                            <b>
                            <label class="checkbox-inline"><input type="checkbox" value="">
                              <a style="color:gray" href="/#/directorio/1">Argentina</a>
                              </label>
                              </b>
                            </div>
                            
                            <div >
                            <b>
                             <label class="checkbox-inline"><input type="checkbox" value="">
                              <a style="color:gray" href="/#/directorio/1">Mexico</a>
                               </label>
                              </b>
                            </div>
                                
                            <div >
                            <b>
                             <label class="checkbox-inline"><input type="checkbox" value="">
                              <a style="color:gray" href="/#/directorio/1">Chile</a>
                               </label>
                              </b>
                            </div>
                        </div>
                     </div>
             </div>
      
    </div>
        
        
        <div class="col-md-9 bgrdWhite">
        
            <div class="page-header" >
                
            
                 <h3 class="lblPrincipal" style="text-transform: uppercase;"><b>{{categoriaActual.nombre}}</b></h3>
                 <div class="col-sm-offset-5 col-md-7 input-group">
                    
               
                
                <input kendo-auto-complete 
                    k-options="autoCompleteOptions"
                    ng-model="textoBusqueda"
                    style="width: 100%;" 
                    >
                
                <span class="input-group-addon btnGeneral" id="basic-addon2">
                    <a href="#/directorio-resultados/{{textoBusqueda}}">Buscar</a>
                </span>
                    </input>
            </div>
            </div>
            <div class="col-sm-3"  ng-repeat="distribuidor in distribuidores">
                <div class='thumbnail' style="height:100px;">
                  <div>
                    <a href="/#/detalle/{{distribuidor._id }}">
                            <h5 style="text-transform: capitalize;">
                    <img src='/uploads/{{ distribuidor.logo || bannerBack }}' style="width:80px;height:80px;"/> 
                                {{distribuidor.nombre}}</h5>
                                </a>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>
<div class="altura32"></div>
</script>
      

<script type="text/ng-template" id="/detalle.html">
<!--<script> </script> -->
 <div class="container">
 
    <div class="row" >
    
    <div class="col-lg-2">
    
        <div class="altura32"></div>
        <div class="row" >
               <div class="panel panel-primary">
                    <div class="panel-heading"><b>Información</b></div>
                        <div class="panel-body list-group">
                               <a href="#" class="thumbnail">
                                <img  src='/uploads/{{ distribuidor.logo }}'     alt="Icono empresa" width="150" height="140">
                                </a>
                                <div class="list-group-item">
                                <p>{{ distribuidor.direccionCompleta }}</p>
                                </div>
                                <div  class="list-group-item">
                                <p>{{ distribuidor.descripcion }}</p>
                                </div>
                        </div>
                     </div>
             </div>
    
        </div>
    
    <div class="altura32"></div>
    
        <div class="col-md-7" >
        
             
             <div>
                <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="slide in slidesdis" index="slide.id">
                        <img ng-src="{{slide.image}}" style="margin:auto; width:100%; height:340px;">
                    </uib-slide>
                  </uib-carousel>
                </div>
             
        
                <div style="background:white;"> 
                  <h2 style="text-transform: capitalize;" ><b>{{ distribuidor.nombre}}</b></h2>
                    <div>
                          <i class="fa fa-facebook-square fa-3x" style="color: #3b5998;" aria-hidden="true"></i>
                         <i class="fa fa-twitter-square fa-3x " style="color: #4099FF;"></i>
                         <i class="fa fa-link-square fa-3x" ></i>
                    </div>
           
                
                
                
                        
                <div class="btn-group" role="group" aria-label="...">
                    <h4><b>Servicios: </b></h4>
                    <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                    Sistemas de riego</button>

                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                        Herramientas</button>
                    <button type="button" class="btn btn-iluminiti">
                        <span class="glyphicon glyphicon-lamp" aria-hidden="true"></span>
                        Iluminación</button>
                    <button type="button" class="btn btn-connector" >
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    Tuberia</button>
                    <button type="button" class="btn btnGeneral">
                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    Conexiones</button>
                </div>  
                
            </div>
        
    <div class="altura32"></div>
    <div class="">
        <div class="row" >
        <div class="list-group-item active">
            <h4><b> Mis videos</b></h4>
        </div>
        <div class="altura32"></div>
            <div class="">
                <uib-carousel active="active" interval="myIntervalSlow" no-wrap="noWrapSlides">
                  <uib-slide ng-repeat="config in videosDistribuidor" index="config.id">
                    
                    <div class="videogular-container">
                    <videogular vg-theme="config.theme.url">
                        <vg-media vg-src="config.sources"
                                  vg-tracks="config.tracks"
                                  vg-native-controls="true">
                        </vg-media>
                    </videogular>
                    </div>
                    
                  </uib-slide>
                </uib-carousel>
            </div>
        </div>
    </div>
        
    
    
    </div>
    <div class="col-md-3">
    
        
        <div class="row" >
               <div class="panel panel-primary">
                    <div class="panel-heading"><b>Sucursales</b></div>
                        <div class="panel-body">
                          <div id="map"></div>
                        </div>
                     </div>
             </div>
             
        
    
        <div class="altura32"></div>
            <div class="row" >
               <div class="panel panel-primary">
                    <div class="panel-heading"><b>Sugerencias</b></div>
                        <div class="panel-body">
                          <div ng-repeat="distribuidor in distribuidores">
                            <a href="/#/detalle/{{distribuidor._id }}">
                            <h3 style="text-transform: capitalize;" >
                            <img src='/uploads/{{ distribuidor.logo }}'  style="width:50px;height:8 0px;"/> 
                                {{distribuidor.nombre}}</h3>
                                </a>
                            </div>
                        </div>
                     </div>
             </div>
             
             <div class="altura32"></div>
            <div class="row" >
               <div class="panel panel-primary">
                    <div class="panel-heading"><b>Eventos</b></div>
                        <div class="panel-body">
                          <div ng-repeat="distribuidor in groupedSlides">
                            <a href="/#/detalle/{{distribuidor }}">
                            <h3 style="text-transform: capitalize;"style="text-transform: capitalize;">
                             
                                {{distribuidor.nombre}}</h3>
                                </a>
                            </div>
                        </div>
                     </div>
             </div>  
             
       </div>             
    </div> 

</div>
</script>

<script type="text/ng-template" id="/noticias.html">

<!--<script> </script> -->
    <div class="javo_post_header_fancy" style="
			position:relative;
			background-color:#FFFFFF;
			background-image:url('/images/riego-de-jardines.jpg');
			background-repeat:no-repeat;
			background-position:center center;
			height:250px;">
			<div class="container" style="display:table;">
				<div style="
			left:0px;
			width:100%;
			height:250px;
			display:table-cell;
			vertical-align:middle;
			text-align:left;">
					<h1 style="
			color:#ffffff !important;
			font-size:17pt;

			line-height:22px">Noticias</h1>
					<h4 style="
			color:#ffffff;
			font-size:12pt;
			line-height:17px">&nbsp;</h4>
				</div>
			</div>
		</div>

   <div class="container" style="padding-top:32px;">
    
        <div ng-repeat="noticia in ultimasNoticias"
             class="col-md-4 col-sm-6 col-xs-6 pull-left itemListado">
            <div >
                <div class="panel panel-default panel-relative">

                    <img src="/uploads/{{noticia.banner}}" />

                    <div class="panel-body itemListado">
                        <div class="col-md-12">

                            <a href="/#/noticia/{{noticia._id}}" class="javo-tooltip javo-igl-title" >
                                <div>
                                    <h2 class="panel-title text-center">
                                        <strong>{{ noticia.titulo}} </strong>
                                    </h2>
                                    <div class="text-center" style="padding-top:5px;"> categoría </div>
                                </div>
                            </a>
                            <ul class="list list-unstyled">
                                <li class="text-center text-excerpt javo-grid-listing-excerpt">

                                    <p ng-bind-html="noticia.contenido"></p>
                                </li>
                                <li class="text-center">
                                    <h2 class="javo-sns-wrap social-wrap">
                                        <i class="sns-facebook" data-title="SUPER CAR RENTAL" data-url="https://javothemes.com/directory/demo1/item/super-car-rental/">
                                            <a class="facebook javo-tooltip" title="" data-original-title="Share Facebook"></a>
                                        </i>
                                        <i class="sns-twitter" data-title="SUPER CAR RENTAL" data-url="https://javothemes.com/directory/demo1/item/super-car-rental/">
                                            <a class="twitter javo-tooltip" title="" data-original-title="Share Twitter"></a>
                                        </i>
                                        <i class="sns-heart">
                                            <a class="javo-tooltip favorite javo_favorite" data-post-id="2153" title="" data-original-title="Add My Favorite"></a>
                                        </i>
                                    </h2>
                                </li>
                            </ul><!-- List group -->
                        </div>
                    </div>

                    <div class="javo-left-overlay">
                        <div class="javo-txt-meta-area admin-color-setting">
                            Riego								
                        </div>
                        <div class="corner-wrap">
                            <div class="corner admin-color-setting"></div>
                            <div class="corner-background admin-color-setting"></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
                
    </div>
</script>
      
<script type="text/ng-template" id="/noticia.html">

<!--<script> </script> -->

<div class="text-center well">
    <h1 id="javo-post-title-header">{{noticia.titulo}}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9 main-content-wrap">					
            <article id="post-2176" class="post-2176 post type-post status-publish format-standard has-post-thumbnail hentry category-news category-notice">

                <div class="row">

                    <div class="col-md-12">
                        <header class="entry-header text-center">
                            <img width="2000" height="1334" src="/uploads/{{noticia.banner}}" class="img-responsive wp-post-image" alt="JAVO_1705">				<div class="label-ribbon-row {f}">
                                <div class="label-info-ribbon-row-wrapper">
                                    <div class="label-info-ribbon-row">
                                        <div class="ribbons" id="ribbon-15">
                                            <div class="ribbon-wrap">
                                                <div class="content">
                                                    <div class="ribbon">
                                                        <span class="ribbon-span">
                                                            Aug 11 2014											</span>
                                                    </div>
                                                </div><!-- /.content -->
                                            </div><!-- /.ribbon-wrap -->
                                        </div><!-- /.ribbons -->
                                    </div><!-- /.label-info-ribbon -->
                                </div><!-- /.ribbon-wrapper -->
                            </div><!-- /.label-ribbon -->
                        </header><!-- .entry-header -->
                    </div><!-- col-md-4 -->

                </div>
                <div class="row entry-author-info-wrap">
                    <div class="col-md-2 col-xs-2 entry-author-image">
                        <a>
                            <div class="javo-thb" style="width:80px; height:80px; background-image:url('https://javothemes.cafe24.com/wp-content/themes/javo-directory/assets/images/no-image.png');"></div>
                        </a>
                    </div>
                    <div class="col-md-10 col-xs-10 entry-author-meta-wrap">
                        <div class="entry-author-name">javo</div>
                        <div class="entry-author-social">
                            <div class="entry-author-category">
                                <i class="fa fa-bookmark-o"></i>
                                <a href="https://javothemes.com/directory/demo1/category/news/" rel="category tag">News</a>, <a href="https://javothemes.com/directory/demo1/category/notice/" rel="category tag">Notice</a>				</div>
                                                <div class="pull-left" style="margin:0 10px;">
                                    <span class="separator">/</span>
                                </div>
                                <div class="entry-author-comment">
                                    <i class="fa fa-comments-o"></i>
                                    <a href="https://javothemes.com/directory/demo1/sed-ut-perspiciatis/#respond">0 Comment</a>					</div>
                                        </div>
                    </div>
                </div>
                <div class="row entry-description-wrap">
                    <div class="col-md-12 entry-description">
                            <h1 class="entry-title">Sed ut perspiciatis</h1>
                            <div class="single-post-meta row">
                                <div class="col-md-10 post-meta-infor">

                                </div>

                                <div class="col-md-2 text-right post-social">
                                    <span class="javo-sns-wrap social-wrap">
                                        <i class="sns-facebook" data-title="Sed ut perspiciatis" data-url="https://javothemes.com/directory/demo1/sed-ut-perspiciatis/">
                                            <a class="facebook javo-tooltip" title="" data-original-title="Share Facebook"></a>
                                        </i>
                                        <i class="sns-twitter" data-title="Sed ut perspiciatis" data-url="https://javothemes.com/directory/demo1/sed-ut-perspiciatis/">
                                            <a class="twitter javo-tooltip" title="" data-original-title="Share Twitter"></a>
                                        </i>
                                    </span>
                                </div> 
                            </div> 

                            <div class="entry-content">
                                <p ng-bind-html="noticia.contenido"></p>
                                
                                <div class="altura32"></div>
                                <div class="videogular-container">
                                    <videogular vg-theme="configVideoNoticia.theme.url">
                                        <vg-media vg-src="configVideoNoticia.sources"
                                                  vg-tracks="configVideoNoticia.tracks"
                                                  vg-native-controls="true">
                                        </vg-media>
                                    </videogular>
                                </div>
                                <div class="altura64"></div>

                            </div>
                        </div>
                </div>
                <footer class="entry-meta">
                    <div class="inner-footer">
                        <div class="inner-footer-more">
                            <a href="https://javothemes.com/directory/demo1/sed-ut-perspiciatis/">
                                more				
                            </a>
                        </div>
                    </div>
                </footer><!-- .entry-meta -->

            </article><!-- #post -->				
				
			</div>
			
            <div class="col-md-3 sidebar-right">
                <div class="row">
                    <div class="col-lg-12 siderbar-inner">
                        <div class="row widgets-wraps">
                            <div class="widgettitle_wrap col-md-12">
                                <h2 class="widgettitle">
                                    <span>Nuevos Elementos</span>
                                </h2>
                            </div>
                            <div class="widget_posts_wrap">

                                <ul class="latest-posts items list-unstyled">

                                    <li class="col-xs-4 col-sm-4 col-md-4" ng-repeat="noticia in ultimasNoticias.slice(0,9)">
                                        <span class="thumb">
                                            <a href="/#/noticia/{{noticia._id}}">
                                                <div class="img-wrap-shadow">
                                                    <img width="80" height="80" src="/uploads/{{noticia.banner}}" 
                                                         class="attachment-javo-tiny size-javo-tiny wp-post-image">								
                                                </div>
                                            </a>
                                        </span>
                                    </li>
                                    
                                </ul>

                            </div>
                        </div>
                        <div class="row widgets-wraps">
                            <div class="widgettitle_wrap col-md-12">
                                <h2 class="widgettitle">
                                    <span>Eventos Recientes</span>
                                </h2>
                            </div>			
                            <div class="widget_posts_wrap">

                                <div class="latest-posts posts row" ng-repeat="evento in ultimosEventos.slice(0,3)">
                                    <div class="col-md-12">
                                        <span class="thumb">
                                            <a href="/#/evento/{{evento._id}}">
                                                <img width="80" height="80" src="/uploads/{{evento.banner}}" 
                                                     class="attachment-javo-tiny size-javo-tiny wp-post-image" >
                                            </a>
                                        </span>
                                        <h3>

                                        <a href="/eventos/#/portafolio-evento/{{evento._id}}">
                                            <span>{{evento.nombre.slice(0,34)}} ...</span>
                                            <a href="/#/evento/{{evento._id}}">{{evento.nombre.slice(0,30)}}</a>
                                        </h3>
                                        <a href="/#/evento/{{evento._id}}">
                                            <span>{{evento.nombre.slice(0,30)}} ...</span>
                                        </a>							
                                    </div>
                                </div>
                            </div>
        
                        </div>
                        <div class="row widgets-wraps">
                            <div class="widgettitle_wrap col-md-12">
                                <h2 class="widgettitle">
                                    <span>Últimas Noticias</span>
                                </h2>
                            </div>			
                            <div class="widget_posts_wrap">

                                <div class="latest-posts posts row" ng-repeat="noticia in ultimasNoticias.slice(0,3)">
                                    <div class="col-md-12">
                                        <span class="thumb">
                                            <a href="/#/noticia/{{noticia._id}}">
                                                <img width="80" height="80" src="/uploads/{{noticia.banner}}" 
                                                     class="attachment-javo-tiny size-javo-tiny wp-post-image">
                                            </a>
                                        </span>
                                        <h3>

                                            <a href="/#/noticia/{{noticia._id}}">{{noticia.titulo.slice(0,30)}}</a>
                                        </h3>
                                            <a href="/#/noticia/{{noticia._id}}"><span>{{noticia.titulo.slice(0,30)}} ...</span>
                                        </a>							
                                    </div>
                                </div>
                            </div>
                        </div>		
                        
                    </div>
                </div>
            </div>
		</div>
	</div>

<!--<div class="container" style="width: 1048px;padding: 0 20px;">
    <div class="" >
        <div class=" divAlignCenter pad50-0">
            <h1 style="text-transform: uppercase;font-size: 53px;"><b>{{ noticia.titulo }}</b></h1>
        </div>
    
        <div class="col-md-9" >
			<div class='' style="background:white;"> 
				<div class=''>
					<div class="altura32"></div>
					<a href="#">
						<img  src='/uploads/{{ noticia.banner }}' class="img-rounded" alt="Icono empresa" width="100%" height="440px">
					</a>
				</div> 
                
				<div class=''> 
					<div>
						
						
						<div class="panel panel-default">
							<div class="panel-body copy">
                                <p ng-bind-html="noticia.contenido"></p>
								
							</div>
                            
                            <div class="videogular-container">
                                <videogular vg-theme="configVideoNoticia.theme.url">
                                    <vg-media vg-src="configVideoNoticia.sources"
                                              vg-tracks="configVideoNoticia.tracks"
                                              vg-native-controls="true">
                                    </vg-media>
                                </videogular>
                            </div>
                            <div class="altura64"></div>
						</div>
					</div>
				</div>
                
                
			</div>
		</div>
        <div class="col-md-3" >
            <div ng-repeat="noticia in ultimasNoticias">
                <div class="divNoticiaHome" style="width:100%;">
                    <a href="/#/noticia/{{ noticia._id }}">
                        <img src="/uploads/{{noticia.banner}}" ng-show="$first || $last" />
                    
                    <div>
                        <h3> {{noticia.titulo}} </h3>
                    </div>
                    </a>
                </div>
            </div>
        </div>
	</div>
</div>-->
            </div>
		</div>
</div>

<!--<div class="container" style="width: 1048px;padding: 0 20px;">
    <div class="" >
        <div class=" divAlignCenter pad50-0">
            <h1 style="text-transform: uppercase;font-size: 53px;"><b>{{ noticia.titulo }}</b></h1>
        </div>
    
        <div class="col-md-9" >
			<div class='' style="background:white;"> 
				<div class=''>
					<div class="altura32"></div>
					<a href="#">
						<img  src='/uploads/{{ noticia.banner }}' class="img-rounded" alt="Icono empresa" width="100%" height="440px">
					</a>
				</div> 
                
				<div class=''> 
					<div>
						
						
						<div class="panel panel-default">
							<div class="panel-body copy">
                                <p ng-bind-html="noticia.contenido"></p>
								
							</div>
                            
                            <div class="videogular-container">
                                <videogular vg-theme="configVideoNoticia.theme.url">
                                    <vg-media vg-src="configVideoNoticia.sources"
                                              vg-tracks="configVideoNoticia.tracks"
                                              vg-native-controls="true">
                                    </vg-media>
                                </videogular>
                            </div>
                            <div class="altura64"></div>
						</div>
					</div>
				</div>
                
                
			</div>
		</div>
        <div class="col-md-3" >
            <div ng-repeat="noticia in ultimasNoticias">
                <div class="divNoticiaHome" style="width:100%;">
                    <a href="/#/noticia/{{ noticia._id }}">
                        <img src="/uploads/{{noticia.banner}}" ng-show="$first || $last" />
                    
                    <div>
                        <h3> {{noticia.titulo}} </h3>
                    </div>
                    </a>
                </div>
            </div>
        </div>
	</div>
</div>-->

</script>

<script type="text/ng-template" id="/portafolio.html">
<!--<script> </script> -->
<div class="container">
<div class="row">
    <div class="col-md-8 col-md-offset-2 bgrdWhite">

        <div class="demo-section k-content wide">
            <div kendo-list-view id="listView" k-data-source="sourceEventosCompletos">
                <div class="product divPadTop20 row" k-template>
                    <div class="col-md-4">
                        <a href="\\#/evento/{{ dataItem._id }}" style="display:block;" class="coverWrap altura100">
                            <img ng-src="/uploads/{{dataItem.banner}}" alt=" {{dataItem.nombre}} image" class="photo" />
                        </a>
                    </div>
                    <div class="col-md-6" style="padding-right:0;">
                        <h4 class="lblPrincipal">{{dataItem.nombre}}</h4>
                        <!--<p>{{dataItem.fechaInicio}} - {{dataItem.fechaFin}}</p>--> 
                        <p>{{dataItem.fechaInicio  | date:'MM/dd/yyyy h:mma'}} - {{dataItem.fechaFin  | date:'MM/dd/yyyy h:mma'}}</p>
                        <!--<p>{{dataItem.fechaInicio  | date:'MM/dd/yyyy h:mma Z':'UTC'}} - {{dataItem.fechaFin  | date:'MM/dd/yyyy h:mma Z':'UTC'}}</p>--> 
                        <p>{{dataItem.direccion}}</p>
                    </div>
                </div>
            </div>
            <div kendo-pager k-data-source="sourceEventosCompletos"></div>
        </div>
    
    </div> 
</div>
<div class="altura32"></div>
</div>
</script>

<script type="text/ng-template" id="/portafolio-evento.html">
<!--<script> </script> -->
<div style="background-color: #EDEEF2;">
<div class="row">
<div class="container">
    <div class="col-md-8  bgrdWhite divPadTop20">
        
        <a class="coverWrap">
            <img class="img-responsive img-portfolio img-hover photo" src="/uploads/{{evento.banner}}" />
        </a>
        
        <h2 class="lblPrincipal" style="margin:10px;">{{evento.nombre}}</h2>
        <div class="row">
        <div class="col-md-4" style="margin:10px;">
        
        <h4>Dirección:</h4> <p>{{evento.direccion}}</p>
        </div>

        <div class="col-md-4" >
        <p >{{evento.descripcion}}</p>
        
        </div>
        <h4>Horario</h4>
        <h5 class="lblSecundario" style="margin:10px;">{{evento.fechaInicio  | date:'MM/dd/yyyy h:mma'}}</h5>
        <h5 class="lblSecundario" style="margin:10px;">{{evento.fechaFin  | date:'MM/dd/yyyy h:mma'}}</h5>
        </div>
        
        <div class="row divPadTop20">
            <div class="col-xs-3">
                <div fb-like="myModel.Url"></div>
            </div>
        </div>
        
         <div class="demo-section k-content wide divPadTop20">
            <div kendo-list-view id="listView" k-data-source="sourceFotosEvento">
                <div class="product divFlotante div25perc" k-template>
                    
                    <a name="{{ dataItem._id }}" class="coverWrap a-foto-portfolio" ng-click="verImagenGrande(dataItem._id)">
                        <img ng-src="/uploads/{{dataItem.url}}" alt=" {{dataItem.descripcion}} image" 
                            class="photo img-foto-portfolio"/>
                    </a>
                </div>
            </div>
            <div kendo-pager k-data-source="sourceFotosEvento"></div>
        </div>
        
    
        
    </div> 
    <div class="col-md-4 fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="300px" data-numposts="5"></div>
</div>
</div>
</div>
</script>
    
<script type="text/ng-template" id="myModalContent.html">
<!--<script> </script> -->
    
    <div style="width:100%; height:500px; background-color:black;">
        <a class="qodef-icon-shortcode normal qodef-icon-little" ng-click="verFotoAnterior()"
            style="top:50%; left:0; position: absolute; cursor:pointer;">
            <i class="qodef-icon-font-awesome fa fa-arrow-circle-left qodef-icon-element" style=""></i>
        </a>
        
        <img id="imgFotoDetalle" class="img-foto-detalle" style="{{obtenerOffSetFoto(this)}}" src="/uploads/{{url}}" />
        
        <a class="qodef-icon-shortcode normal qodef-icon-little" ng-click="verFotoSiguiente()"
            style="top:50%; right:0; position: absolute; cursor:pointer;">
            <i class="qodef-icon-font-awesome fa fa-arrow-circle-right qodef-icon-element" style=""></i>
        </a>
    </div>
    
</script>

      
<script type="text/ng-template" id="/register.html">
<!--<script> </script> -->
  <div class="row">
	<div class="col-md-5 col-md-offset-4 bgrdWhite">
        <div class="page-header" >
            <h1 class="lblPrincipal">Registro</h1>
        </div>
  
          <div ng-show="error" class="alert alert-danger row">
            <span>{{ error }}</span>
          </div>
            <h3 class="lblSecundario">Registrate con tu dirección de email</h3>   
          <form ng-submit="register()"
            class="m30">
            
            <div class="form-group">
              <input type="text"
              class="form-control"
              placeholder="Nombre empresa"
              ng-model="user.name"></input>
            </div>
            
            <div class="form-group">
              <input type="text"
              class="form-control"
              placeholder="Username"
              ng-model="user.username"></input>
            </div>
            
            <div class="form-group">
              <input type="password"
              class="form-control"
              placeholder="Password"
              ng-model="user.password"></input>
            </div>
            
            <div class="form-group">
              <input type="email"
              class="form-control"
              placeholder="email"
              ng-model="user.email"></input>
            </div>
            
            <div class="form-group">
              <input type="email"
              class="form-control"
              placeholder="Confirmar email"
              ng-model="user.email_confirm"></input>
            </div>
            
            <div class="radio">
              <label><input type="radio" name="optradio" ng-model="user.tipo" value="10">Master(Distribuidor/importador)</label>
            </div>
            
            <div class="radio">
              <label><input type="radio" name="optradio" ng-model="user.tipo" value="20">Distribuidor</label>
            </div>
            
            <div class="radio">
              <label><input type="radio" name="optradio" ng-model="user.tipo" value="30" >
              Contratista
            </label>
            </div>
            <div class="checkbox" ng-model="user.usar_email">
                <label><input type="checkbox" value="">
                Compartir mis datos de registro con los proveedores de contenido de {{appname}} para fines de marketing.
                
                </label>
            </div>
            <div class="form-group">            
                Al hacer click en Registrarse, aceptas los <a>términos y condiciones </a> y la <a>política de privacidad</a> de 
                    {{appname}}.
            </div>
            <div class="form-group">
                <button  type="submit" class="btn btn-primary col-sm-4 col-md-10 col-lg-12">Registrarse</button>
            </div>
            <div class="altura64"></div>
          </form>
          </div>
  </div>
</script>

<script type="text/ng-template" id="/login.html">
<!--<script> </script> -->
  <div class="row">
	<div class="col-md-4 col-md-offset-4 bgrdWhite">
        <div class="page-header" >
            <h1 class="lblPrincipal">Inicio de Sesión</h1>
        </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="logIn()"
        class="m30">


        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Username"
          ng-model="user.username"></input>
        </div>
        <div class="form-group">
          <input type="password"
          class="form-control"
          placeholder="Password"
          ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      </form>
      </div>
  </div>
</script>
	

      
  </body>
</html>