
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      
      <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    
      
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/extra.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angulike.js"></script>
	<script src="/javascripts/realTimeApp.js"></script>
    
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.1.226/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.1.226/styles/kendo.material.min.css" />
    
    <script src="https://kendo.cdn.telerik.com/2016.1.226/js/kendo.all.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
      
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8Xq5o6lNl4YyFt0F30E_yas-zDNk3sMg" async defer></script>

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/videogular/1.4.4/videogular.min.js"></script>
      <!--<script src="http://static.videogular.com/scripts/videogular/latest/videogular.js"></script>-->
    
      <script> 
          if (!String.prototype.format) {
              String.prototype.format = function() {
                var args = arguments;
                return this.replace(/{(\d+)}/g, function(match, number) { 
                  return typeof args[number] != 'undefined'
                    ? args[number]
                    : match
                  ;
                });
              };
            }
      </script>
    
      <style>
          
        
        .container-fluid {
            margin-top : 10px   ;    
        }
          
       .title {
            color: #00587c;
       }
    
        .subtitle-inverse {
            color: darkgray;
        }
          
        .btn-edit {
            background-color: black;
        }
          
          
          
        #map {
            height: 350px;
            width: 100%;
            }
          
          
          .card {
                
                height : 130px;
                padding: 15px;
                background-color: #f7f7f7;
                box-shadow: 10px 10px 5px grey;
                 vertical-align:middle;
              text-align: center;
            }
          
      </style>
  </head>
    
  <body ng-app="realTime" class="bgrdBody">
      <header class="headerPrincipal">
        <nav class="navbar navbar-static-top navbar-dark bg-inverse p10 menuPrincipal" 
             ng-controller="NavCtrl">
            <div class="container">
            <div class="container-fluid">
            <h3 style="float:left; margin:10px 0;">
                <dl>
                     <a href="/#/home" style="float:left; color: white;">
                       <span class="glyphicon glyphicon-grain" aria-hidden="true" style="margin-right:2px;"></span>
                         RIEGO SUSTENTABLE       
                     </a> 
                </dl>
            </h3>

            <ul class="nav navbar-nav  pull-right">

                <li class="dropdown">
                    <a class="dropdown-toggle btn-menu" data-toggle="dropdown" style="color:white;">Industria
                    <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="m10"
                        ng-repeat="categoria in categorias">
                        <a href="/#/directorio/{{ categoria.id }}">{{ categoria.nombre }}</a>
                        </li>

                      </ul>
                </li>


                 <li class="dropdown">
                    <a class="dropdown-toggle btn-menu" data-toggle="dropdown" style="color:white;">Tipo Industria
                    <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="m10"
                        ng-repeat="tipo in tipo_industria">
                        <a href="/#/directorio-resultados-tipo/{{ tipo.id }}">{{ tipo.nombre }}</a>
                        </li>

                      </ul>
                </li>

                 <li class="dropdown">
                    <a class="dropdown-toggle btn-menu" data-toggle="dropdown" style="color:white;">Iluminación
                    <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="m10"
                        ng-repeat="tipo in iluminacion">
                        <a href="#">{{ tipo.nombre }}</a>
                        </li>

                      </ul>
                </li>


                




                <li class="dropdown" ng-show="isLoggedIn()">
                    <a class="dropdown-toggle btn-menu" data-toggle="dropdown" style="color:white;">{{ currentUser() }}
                    <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="m10">
                            <a href="/profile/#/override">Cuenta</a>
                        </li>
                        <li class="m10">
                            <a ng-click="logOut()">Cerrar sesión</a>

                        </li>

                    </ul>
                </li>
                  <li ng-hide="isLoggedIn()"><a href="/#/login" class="btn btn-menu">Iniciar sessión</a></li>
                  <li ng-hide="isLoggedIn()"><a href="/#/register" class="btn btn-menu">Registrarse</a></li>
            </ul>
            </div>
            </div>
        </nav>
      </header>
  
  
	
	<ui-view></ui-view>
    
    <div class="footerCategorias container" ng-controller="MainCtrl">
      <div class="row">
            <div class="col-md-3">
                <!--<h3 class="m10" style="color:gray;">Industria Riego</h3>
                <div class="m10" ng-repeat="categoria in tipo_industria">
                    <a href="/#/directorio/{{ categoria.id }}">{{ categoria.nombre }}</a>
                </div>-->
              <div class="row widgets-wraps">
                <div class="widgettitle_wrap col-md-12">
                    <h2 class="widgettitle">
                        <a href="/#/">Nuevos Elementos</a>
                    </h2>
                </div>
                <div class="widget_posts_wrap" style="margin: 0 auto;">

                    <ul class="latest-posts items list-unstyled">
                        <li class="col-xs-4 col-sm-4 col-md-4" ng-repeat="noticia in ultimasNoticias.slice(0,3)">
                            <span class="thumb">
                                <a href="/#/noticia/{{noticia._id}}">
                                    <div class="img-wrap-shadow">
                                        <img width="80" height="80" src="/uploads/{{noticia.banner}}" 
                                             class="attachment-javo-tiny size-javo-tiny wp-post-image">								
                                    </div>
                                </a>
                            </span>
                        </li>

                    </ul>

                </div>
            </div>
            </div>
            <div class="col-md-3">
                <!--<h3 class="m10" style="color:gray;">Tipo de industria</h3>
                <div class="m10" style="margin-left:3px;"
                    ng-repeat="categoria in categorias">
                    <a href="/#/directorio/{{ categoria.id }}">{{ categoria.nombre }}</a>
                </div>-->
                <div class="row widgets-wraps">
                    <div class="widgettitle_wrap col-md-12">
                        <h2 class="widgettitle">
                            <a href="/#/eventos">Eventos Recientes</a>
                        </h2>
                    </div>			
                    <div class="widget_posts_wrap" style="margin: 0 auto;">
                        <div class="latest-posts posts row" ng-repeat="evento in ultimosEventos.slice(0,3)">
                            <div class="col-md-12">
                                <span class="thumb">
                                    <a href="/#/evento/{{evento._id}}">
                                        <img width="80" height="80" src="/uploads/{{evento.banner}}" 
                                             class="attachment-javo-tiny size-javo-tiny wp-post-image" >
                                    </a>
                                </span>
                                <h3>
                                    <a href="/#/evento/{{evento._id}}">{{evento.nombre.slice(0,30)}}</a>
                                </h3>
                                <a href="/#/evento/{{evento._id}}">
                                    <span>{{evento.nombre.slice(0,30)}} ...</span>
                                </a>							
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row widgets-wraps">
                    <div class="widgettitle_wrap col-md-12">
                        <h2 class="widgettitle">
                            <a href="/#/noticias">Últimas Noticias</a>
                        </h2>
                    </div>			
                    <div class="widget_posts_wrap">
                        <div class="latest-posts posts row" ng-repeat="noticia in ultimasNoticias">
                            <div class="col-md-12">
                                <span class="thumb">
                                    <a href="/#/noticia/{{noticia._id}}">
                                        <img width="80" height="80" src="/uploads/{{noticia.banner}}" 
                                             class="attachment-javo-tiny size-javo-tiny wp-post-image">
                                    </a>
                                </span>
                                <h3>
                                    <a href="/#/noticia/{{noticia._id}}">{{noticia.titulo.slice(0,30)}}</a>
                                </h3>
                                    <a href="/#/noticia/{{noticia._id}}"><span>{{noticia.titulo.slice(0,30)}} ...</span>
                                </a>							
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
          
            <div class="col-md-3">
            <h3 class="m10" style="color:gray">Contacto</h3>
             <div class="m10" style="margin-left:3px;"     >
                <a>Diplay Imagén y publicidad </a>
                </div>
                <div class="m10" style="margin-left:3px;"     >

                <a>Tel: 4423657157</a>
                </div>
                <div class="m10" style="margin-left:3px;"     >
                <a> aespino@displayimagenpublicidad.com</a>
                </div>
                <div class="m10" style="margin-left:3px;"     >
            </div>
            </div>

            <div class="m10"
                ng-repeat="categoria in iluminacion">
                <a href="/#/directorio/{{ categoria.id }}">{{ categoria.nombre }}</a>
            </div>
        </div>
    </div>

<script type="text/ng-template" id="/directorio.html">
<!--<script> </script> -->
<div>
<div id="divSliderPrincipal" style="height: 400px;">
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
	  <uib-slide ng-repeat="slide in slidesHome" index="slide.id">
		<img ng-src="{{slide.image}}" style="margin:auto; width:100%; height:400px;">
		<div class="carousel-caption" style="bottom:35%;">
		  <h1><div style="color:white;">{{slide.desc}}</div></h1>
		  
		  <div class="col-md-offset-3 col-md-6 input-group">
			<input kendo-auto-complete 
				k-options="autoCompleteOptions"
				ng-model="textoBusqueda"
				style="width: 100%;" />

			<span class="input-group-addon btnGeneral" id="basic-addon2">
			<a href="#/directorio-resultados/{{textoBusqueda}}">Buscar</a>
		</span>
		  </div>
		  
		  <h4><p class="lblBlanco">{{slide.text}}</p></h4>
		</div>
	  </uib-slide>
	</uib-carousel>
</div>
		
<div id="divNuestrasCategorias" class="divBloqueBlack">
        <div class="divAlignCenter">
            <h3 style="color:whitesmoke"> Nuestras Categorías </h3>
        </div>

        <div class="dividerGeneral"></div>

        <div class="divBloque" style="padding-top:0;">
            <div style="width:{{categorias.length * 143}}px; margin:0 auto;">
                <div style="width:143px; float:left;"
                    ng-repeat="categoria in categorias">
                    <div class="itemSliderCategorias">
                        <a href="/#/directorio/{{categoria.id }}">
                            <img src='/uploads/{{ categoria.url || bannerBack }}'/> 

                            <h5 style="text-transform: capitalize; color:whitesmoke">
                                {{categoria.nombre}}</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>

<div id="divVentajasDelServicio" class="divBloque divGrisClaro">
    <div class="renglonPad50px">
        <div class="divAlignCenter">
            <h2 class="lblPrincipal"> Ventajas del servicio </h2>
        </div>

        <div class="dividerGeneral"></div>

        <div class="container text-center">
            <div class="col-md-3" ng-repeat="descS in descServicios">
                <div class="row divAlignCenter" style="padding:0 15px;">
                    <a class="qodef-icon-shortcode normal qodef-icon-huge">
                        <i class="qodef-icon-font-awesome fa {{descS.icono}} qodef-icon-element" style=""></i>
                    </a>
                    <h3 class="lblPrincipal"> {{descS.titulo}} </h3>
                    <p style="text-align:left;"> {{descS.descripcion}}  </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="divDistribuidoresDestacados" class="divRenglon divPadBottomNormal">
    <div class="divAlignCenter renglonPad50px">
        <h2 class="lblPrincipal"> Distribuidores de México y Latinoamérica </h2>

        <div class="dividerGeneral"></div>

        <p> Elige tu distribuidor, compara precios y agenda cita. </p>
    </div>

    <div class="container text-center">
        <div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="2000" id="corouselDistribuidores">

            <div class="carousel-inner">
                <div class="item {{$first ? 'active' : ''}}"  ng-repeat="objeto in distribuidores" 
                     on-finish-render="ngRepeatSlideDistribuidoresFinished">
                    <div class="col-md-3 col-sm-4 col-xs-12 dominoItemGallery">
                        <div class="shadow"></div>
                        <div>
                            <a href="/#/detalle/{{objeto._id }}">
                                <img src="/uploads/{{ objeto.logo || bannerBack }}" class="img-responsive">

                                <div class="divBloque divTitulo">
                                    <h4>{{objeto.nombre.slice(0,35) + '.'}}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="left carousel-control" href="#fruitscarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#fruitscarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a> 

        </div>
    </div>
</div>

<div id="divUltimosEventos" class="divRenglon divGrisClaro divPadBottomNormal">
    <div class="divAlignCenter pad50-0">
        <h2 class="lblPrincipal"> Entrenamientos y eventos profesionales de riego </h2>
        <div class="dividerGeneral"></div>
        <p>Enterese de las novedades en la industria del riego en Latino América</p>
    </div>

   <div class="container text-center">
        <div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="3000" id="corouselEventos">

            <div class="carousel-inner">
                <div class="item {{$first ? 'active' : ''}}"  ng-repeat="objeto in ultimosEventos" 
                     on-finish-render="ngRepeatSlideEventosFinished">
                    <div class="col-md-3 col-sm-4 col-xs-12 dominoItemGallery">
                        <div class="shadow"></div>
                        <div>
                            <a href="/#/evento/{{objeto._id }}">
                                <img src="/uploads/{{ objeto.banner || bannerBack }}" class="img-responsive">

                                <div class="divBloque divTitulo">
                                    <h4>{{objeto.nombre.slice(0,35) + '.'}}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#fruitscarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#fruitscarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a> 

        </div>
    </div>
</div>
    
<div id="divUltimasNoticias" class="divRenglon divPadBottomNormal">
    <div class="divAlignCenter pad50-0">
        <h2 class="lblPrincipal"> Testimoniales y retos en los sistemas de riego </h2>
        <div class="dividerGeneral"></div>
        <p>Le presentamos las reseñas de y entrevistas de los casos de éxito en el riego internacional</p>
    </div>

   <div class="container text-center">
        <div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="3000" id="corouselNoticias">

            <div class="carousel-inner">
                <div class="item {{$first ? 'active' : ''}}"  ng-repeat="objeto in ultimasNoticias" 
                     on-finish-render="ngRepeatSlideNoticiasFinished">
                    <div class="col-md-3 col-sm-4 col-xs-12 dominoItemGallery">
                        <div class="shadow"></div>
                        <div>
                            <a href="/#/noticia/{{objeto._id }}">
                                <img src="/uploads/{{ objeto.banner || bannerBack }}" class="img-responsive">

                                <div class="divBloque divTitulo">
                                    <h4>{{objeto.titulo.slice(0,35) + '.'}}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#fruitscarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#fruitscarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a> 

        </div>
    </div>
</div>

<div id="divRedesSociales" class="divBloque pad100-0 divGrisClaro">
    <div class="col-md-offset-2"></div>
    <div class="itemRedesSociales col-md-2 {{$first ? 'col-md-offset-1' : ''}}"
        ng-repeat="redSocial in redesSociales">
            <a class="qodef-icon-shortcode normal qodef-icon-huge">
                <i class="qodef-icon-font-awesome fa {{redSocial.icono}} qodef-icon-element" style=""></i>
            </a>
    </div>
</div>
    
<div id="divBusquedaDistribuidores" class="divBloque" 
     style="padding-top:44px; padding-bottom:84px; background-color:rgb(76, 159, 205);">
    <div class="divAlignCenter">
        
        <form ng-submit="enviarFormularioContacto()">
            <div style="padding:0 22%;">
                <div class="divAlignCenter" style="padding-bottom: 10px;">
                    <h2 class="lblBlanco">Contáctanos</h2>
                </div>
                <div class="alto10"></div>
                <p><span>Tu nombre (requerido)</span><br>
                    <span class="wpcf7-form-control-wrap your-name">
                        <input type="text"  size="40" ng-model="contacto.nombre" />
                    </span> 
                </p>
                <p><span>Tu Email (requerido)</span><br>
                    <span class="wpcf7-form-control-wrap your-email">
                        <input type="email" size="40" ng-model="contacto.email">
                    </span> 
                </p>
                <p><span>Asunto</span><br>
                    <span class="wpcf7-form-control-wrap your-subject">
                        <input type="text" size="40" ng-model="contacto.asunto">
                    </span> 
                </p>
                <p><span>Tu Mensaje</span><br>
                    <span class="wpcf7-form-control-wrap your-message">
                        <textarea name="your-message" cols="40" rows="10" ng-model="contacto.mensaje"></textarea>
                    </span> 
                </p>
                <p class="divAlignCenter">
                    <button class="btn btn-primary">Enviar</button>
                </p>
            </div>
        </form>
        
        <!--<h2 class="lblBlanco">Busqueda de distribuidores</h2>
        <div class="dividerGeneral"></div>
        <p class="lblBlanco" style="margin-bottom: 58px;"> 
            Busca distribuidores en toda América Latina, los mejores productos en el mercado. </p>
        
        <div class="col-md-offset-3 col-md-6 input-group">
			<input kendo-auto-complete 
				k-options="autoCompleteOptions"
				ng-model="textoBusqueda"
				style="width: 100%;" />

            <span class="input-group-addon btnGeneral" id="basic-addon2">
                <a href="#/directorio-resultados/{{textoBusqueda}}">Buscar</a>
            </span>
        </div>-->
    </div>
</div>
</div>

</script>
        

      
<script type="text/ng-template" id="/directorio-resultados.html">
<!--<script> </script> -->
    
 <div class="container">
 
        <div class="col-md-12 bgrdWhite" style="background:azure;">
        
            <div class="page-header" >
                <span>
                <h3 class="lblPrincipal" style="text-transform: uppercase;"><b>{{categoriaActual.nombre}}</b></h3>
                </span>    
                 <div class="col-sm-offset-7 col-md-5 input-group">
                            
                <input kendo-auto-complete 
                    k-options="autoCompleteOptions"
                    ng-model="textoBusqueda"
                    style="width: 100%;" 
                    >
                    <span class="input-group-addon btnGeneral" id="basic-addon2">
                        <a href="#/directorio-resultados/{{textoBusqueda}}">Buscar</a>
                    </span>
                </input>
                </div>
            </div>
        <div>
        <span ng-repeat="categoria in categorias" >
        <button type="button" class="btn btn-default" >
        <a style="color:gray; text-transform: uppercase" href="/#/directorio/{{ categoria.id }}">{{ categoria.nombre }}</a>
        </button>
                </span> 
        </div>
        <br />
        
            <div class="col-sm-3"  ng-repeat="distribuidor in distribuidores">
                <div class="card">
                  
                    <a href="/#/detalle/{{distribuidor._id }}">
                    <img src='/uploads/{{ distribuidor.logo || bannerBack }}' style="width:80px;height:80px;"/> 
                    <h4 style="text-transform: uppercase; color:gray;">{{distribuidor.nombre}}</h4>
                        
                                    </a>
                  
                      
                </div>
            </div>
       </div>
    
    
    
    </div>
       


<div id="divDistribuidoresDestacados" class="divRenglon divPadBottomNormal">
    <div class="divAlignCenter renglonPad50px">
        <h2 class="lblPrincipal"> Distribuidores de México y Latinoamérica </h2>

        <div class="dividerGeneral"></div>

        <p> Elige tu distribuidor, compara precios y agenda cita. </p>
    </div>

    <div class="container text-center">
        <div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="2000" id="corouselDistribuidores">

            <div class="carousel-inner">
                <div class="item {{$first ? 'active' : ''}}"  ng-repeat="objeto in distribuidores" 
                     on-finish-render="ngRepeatSlideDistribuidoresFinished">
                    <div class="col-md-3 col-sm-4 col-xs-12 dominoItemGallery">
                        <div class="shadow"></div>
                        <div>
                            <a href="/#/detalle/{{objeto._id }}">
                                <img src="/uploads/{{ objeto.logo || bannerBack }}" class="img-responsive">

                                <div class="divBloque divTitulo">
                                    <h4>{{objeto.nombre.slice(0,35) + '.'}}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="left carousel-control" href="#fruitscarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#fruitscarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a> 

        </div>
    </div>
</div>
        
        
    

<div class="altura32"></div>
</script>
      

<script type="text/ng-template" id="/detalle.html">
<!--<script> </script> -->
 <div class="container">
 
    <div class="row" >
    
    <div class="col-lg-2">
    
        <div class="altura32"></div>
        <div class="row" >
               <div class="panel panel-primary">
                    <div class="panel-heading"><b>Información</b></div>
                        <div class="panel-body list-group">
                               <a href="#" class="thumbnail">
                                <img  src='/uploads/{{ distribuidor.logo }}'     alt="Icono empresa" width="150" height="140">
                                </a>
                                <div class="list-group-item">
                                <p>{{ distribuidor.direccionCompleta }}</p>
                                </div>
                                <div  class="list-group-item">
                                <p>{{ distribuidor.descripcion }}</p>
                                </div>
                        </div>
                     </div>
             </div>
    
        </div>
    
    <div class="altura32"></div>
    
        <div class="col-md-7" >
        
             
             <div>
                <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="slide in slidesdis" index="slide.id">
                        <img ng-src="{{slide.image}}" style="margin:auto; width:100%; height:340px;">
                    </uib-slide>
                  </uib-carousel>
                </div>
             
        
                <div style="background:white;"> 
                  <h2 style="text-transform: capitalize;" ><b>{{ distribuidor.nombre}}</b></h2>
                    <div>
                          <i class="fa fa-facebook-square fa-3x" style="color: #3b5998;" aria-hidden="true"></i>
                         <i class="fa fa-twitter-square fa-3x " style="color: #4099FF;"></i>
                         <i class="fa fa-link-square fa-3x" ></i>
                    </div>
           
                
                
                
                        
                <div class="btn-group" role="group" aria-label="...">
                    <h4><b>Servicios: </b></h4>
                    <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                    Sistemas de riego</button>

                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                        Herramientas</button>
                    <button type="button" class="btn btn-iluminiti">
                        <span class="glyphicon glyphicon-lamp" aria-hidden="true"></span>
                        Iluminación</button>
                    <button type="button" class="btn btn-connector" >
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    Tuberia</button>
                    <button type="button" class="btn btnGeneral">
                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    Conexiones</button>
                </div>  
                
            </div>
        
    <div class="altura32"></div>
    <div class="">
        <div class="row" >
        <div class="list-group-item active">
            <h4><b> Mis videos</b></h4>
        </div>
        <div class="altura32"></div>
            <div class="">
                <uib-carousel active="active" interval="myIntervalSlow" no-wrap="noWrapSlides">
                  <uib-slide ng-repeat="config in videosDistribuidor" index="config.id">
                    
                    <div class="videogular-container">
                    <videogular vg-theme="config.theme.url">
                        <vg-media vg-src="config.sources"
                                  vg-tracks="config.tracks"
                                  vg-native-controls="true">
                        </vg-media>
                    </videogular>
                    </div>
                    
                  </uib-slide>
                </uib-carousel>
            </div>
        </div>
    </div>
        
    
    
    </div>
    <div class="col-md-3">
    
        
        <div class="row" >
               <div class="panel panel-primary">
                    <div class="panel-heading"><b>Sucursales</b></div>
                        <div class="panel-body">
                          <div id="map"></div>
                        </div>
                     </div>
             </div>
             
        
    
        <div class="altura32"></div>
            <div class="row" >
               <div class="panel panel-primary">
                    <div class="panel-heading"><b>Sugerencias</b></div>
                        <div class="panel-body">
                          <div ng-repeat="distribuidor in distribuidores">
                            <a href="/#/detalle/{{distribuidor._id }}">
                            <h3 style="text-transform: capitalize;" >
                            <img src='/uploads/{{ distribuidor.logo }}'  style="width:50px;height:8 0px;"/> 
                                {{distribuidor.nombre}}</h3>
                                </a>
                            </div>
                        </div>
                     </div>
             </div>
             
             <div class="altura32"></div>
            <div class="row" >
               <div class="panel panel-primary">
                    <div class="panel-heading"><b>Eventos</b></div>
                        <div class="panel-body">
                          <div ng-repeat="distribuidor in groupedSlides">
                            <a href="/#/detalle/{{distribuidor }}">
                            <h3 style="text-transform: capitalize;"style="text-transform: capitalize;">
                             
                                {{distribuidor.nombre}}</h3>
                                </a>
                            </div>
                        </div>
                     </div>
             </div>  
             
       </div>             
    </div> 

</div>
</script>

<script type="text/ng-template" id="/noticias.html">

<!--<script> </script> -->
    <div class="javo_post_header_fancy" >
        <div class=" top-bar" style="display:table;">
            <div class="container" style="text-align:left;">
                <h3 style="margin-left:20px;" class="lblBlanco">Noticias</h3>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top:32px;">
    
        <div class="divRenglon">
            <div class="col-md-8 itemListado">
            <div >
                <div class="panel panel-default panel-relative">

                    <img src="/uploads/{{noticia.banner}}" style="width:100%; height:439px;" />

                    <div class="panel-body itemListado">
                        <div class="col-md-12">

                            <a href="/#/noticia/{{noticia._id}}" class="javo-tooltip javo-igl-title" >
                                <div>
                                    <h2 class="panel-title text-center">
                                        <strong>{{ noticia.titulo}} </strong>
                                    </h2>
                                    <div class="text-center" style="padding-top:5px;"> categoría </div>
                                </div>
                            </a>
                            <ul class="list list-unstyled">
                                <li class="text-center text-excerpt javo-grid-listing-excerpt">

                                    <p ng-bind-html="noticia.contenido"></p>
                                </li>
                                <li class="text-center">
                                    <h2 class="javo-sns-wrap social-wrap">
                                        <i class="sns-facebook" data-title="SUPER CAR RENTAL" data-url="https://javothemes.com/directory/demo1/item/super-car-rental/">
                                            <a class="facebook javo-tooltip" title="" data-original-title="Share Facebook"></a>
                                        </i>
                                        <i class="sns-twitter" data-title="SUPER CAR RENTAL" data-url="https://javothemes.com/directory/demo1/item/super-car-rental/">
                                            <a class="twitter javo-tooltip" title="" data-original-title="Share Twitter"></a>
                                        </i>
                                        <i class="sns-heart">
                                            <a class="javo-tooltip favorite javo_favorite" data-post-id="2153" title="" data-original-title="Add My Favorite"></a>
                                        </i>
                                    </h2>
                                </li>
                            </ul><!-- List group -->
                        </div>
                    </div>

                    <div class="javo-left-overlay">
                        <div class="javo-txt-meta-area admin-color-setting">
                            Riego								
                        </div>
                        <div class="corner-wrap">
                            <div class="corner admin-color-setting"></div>
                            <div class="corner-background admin-color-setting"></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
            
            <div class="col-md-4">
                <a style="margin:0 auto; display:block; width:300px;">
                    <img width="300" height="600" src="http://www.tgmdigital.com/wp-content/uploads/2016/03/fabrinor2.gif" style="margin:0 auto;">
                </a>
            </div>
       </div>
       
        <div ng-repeat="noticia in ultimasNoticias"
             class="col-md-4 col-sm-6 col-xs-6 pull-left itemListado" style="padding-left:0;">
            <div >
                <div class="panel panel-default panel-relative">

                    <img src="/uploads/{{noticia.banner}}" />

                    <div class="panel-body itemListado">
                        <div class="col-md-12">

                            <a href="/#/noticia/{{noticia._id}}" class="javo-tooltip javo-igl-title" >
                                <div>
                                    <h2 class="panel-title text-center">
                                        <strong>{{ noticia.titulo}} </strong>
                                    </h2>
                                    <div class="text-center" style="padding-top:5px;"> categoría </div>
                                </div>
                            </a>
                            <ul class="list list-unstyled">
                                <li class="text-center text-excerpt javo-grid-listing-excerpt">

                                    <p ng-bind-html="noticia.contenido"></p>
                                </li>
                                <li class="text-center">
                                    <h2 class="javo-sns-wrap social-wrap">
                                        <i class="sns-facebook" data-title="SUPER CAR RENTAL" data-url="https://javothemes.com/directory/demo1/item/super-car-rental/">
                                            <a class="facebook javo-tooltip" title="" data-original-title="Share Facebook"></a>
                                        </i>
                                        <i class="sns-twitter" data-title="SUPER CAR RENTAL" data-url="https://javothemes.com/directory/demo1/item/super-car-rental/">
                                            <a class="twitter javo-tooltip" title="" data-original-title="Share Twitter"></a>
                                        </i>
                                        <i class="sns-heart">
                                            <a class="javo-tooltip favorite javo_favorite" data-post-id="2153" title="" data-original-title="Add My Favorite"></a>
                                        </i>
                                    </h2>
                                </li>
                            </ul><!-- List group -->
                        </div>
                    </div>

                    <div class="javo-left-overlay">
                        <div class="javo-txt-meta-area admin-color-setting">
                            Riego								
                        </div>
                        <div class="corner-wrap">
                            <div class="corner admin-color-setting"></div>
                            <div class="corner-background admin-color-setting"></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
                
    </div>
</script>
      
<script type="text/ng-template" id="/noticia.html">

<!--<script> </script> -->


<div class="container">
    <div class="row">
        <div id="contenedorNoticia" class="col-md-9 main-content-wrap">	
            <div class="divRenglon divPad20-0">
                <h1>{{noticia.titulo}}</h1>
            </div>
            
            <div class="row">
                <div class="col-xs-3">
                    <div fb-like="oCompartirFacebookNoticia.Url"></div>
                </div>
            </div>

            
            <article id="post-2176" class="post-2176 post type-post status-publish format-standard has-post-thumbnail hentry category-news category-notice" style="margin-bottom:5px !important;">

                <div class="row">
                    <div class="col-md-12">
                        <header class="entry-header text-center">
                            <div id="divFechaHeaderImagen" class="label-ribbon-row {f}">
                                <div class="label-info-ribbon-row-wrapper">
                                    <div class="label-info-ribbon-row">
                                        <div class="ribbons" id="ribbon-15">
                                            <div class="ribbon-wrap">
                                                <div class="content">
                                                    <div class="ribbon">
                                                        <span class="ribbon-span"> {{noticia.fecha  | date:'MM/dd/yyyy h:mma'}} </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <a class="coverWrap">
                                <img src="/uploads/{{noticia.banner}}" class="img-responsive img-portfolio img-hover photo">	
                            </a>
                        </header>
                    </div>

                </div>
                
                <div class="row entry-description-wrap">
                    <div class="col-md-12 entry-description">
                        <h1 class="entry-title">Sed ut perspiciatis</h1>
                        <div id="divBotonesRedesSociales" class="single-post-meta row">
                            <div class="col-md-10 post-meta-infor">

                            </div>

                            <div class="col-md-2 text-right post-social">
                                <span class="javo-sns-wrap social-wrap">
                                    <i class="sns-facebook" data-title="Sed ut perspiciatis" data-url="https://javothemes.com/directory/demo1/sed-ut-perspiciatis/">
                                        <a class="facebook javo-tooltip" title="" data-original-title="Share Facebook"></a>
                                    </i>
                                    <i class="sns-twitter" data-title="Sed ut perspiciatis" data-url="https://javothemes.com/directory/demo1/sed-ut-perspiciatis/">
                                        <a class="twitter javo-tooltip" title="" data-original-title="Share Twitter"></a>
                                    </i>
                                </span>
                            </div> 
                        </div> 

                        <div id="divContenidoNoticia" class="entry-content" style="padding-top:64px;">
                            <p ng-bind-html="noticia.contenido"></p>

                            <div class="altura32"></div>
                            <div class="videogular-container">
                                <videogular vg-theme="configVideoNoticia.theme.url">
                                    <vg-media vg-src="configVideoNoticia.sources"
                                              vg-tracks="configVideoNoticia.tracks"
                                              vg-native-controls="true">
                                    </vg-media>
                                </videogular>
                            </div>
                            

                        </div>
                    </div>
                </div>

            </article>
            
            <div class="row">
                <div class="col-xs-3">
                    <div fb-like="oCompartirFacebookNoticia.Url"></div>
                </div>
            </div>
				
            <div class="altura64"></div>
        </div>
			
        <div class="col-md-3 sidebar-right">
                <div id="sideBarFixed" class="row" style=";">
                    <div class="col-lg-12 siderbar-inner">
                        <div class="row widgets-wraps">
                            <div class="widgettitle_wrap col-md-12">
                                <h2 class="widgettitle">
                                    <span>Mantente conectado</span>
                                </h2>
                            </div>
                            <div class="widget_posts_wrap">
                                <div class="col-md-4">
                                    <a class="qodef-icon-shortcode normal qodef-icon-huge" style="margin-left:20px;">
                                        <i class="qodef-icon-font-awesome fa fa-facebook qodef-icon-element" style=""></i>
                                    </a>
                                </div>
                                 <div class="col-md-4">
                                    <a class="qodef-icon-shortcode normal qodef-icon-huge" style="margin-left:20px;">
                                        <i class="qodef-icon-font-awesome fa fa-twitter qodef-icon-element" style=""></i>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="qodef-icon-shortcode normal qodef-icon-huge" style="margin-left:20px;">
                                        <i class="qodef-icon-font-awesome fa fa-youtube qodef-icon-element" style=""></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row widgets-wraps">
                            <a style="margin:0 auto; display:block;">
                                <img width="300" height="250" src="http://www.tgmdigital.com/wp-content/uploads/2016/02/manrique-web.gif" class="" >
                            </a>	        
                        </div>
                        
                        <div class="row widgets-wraps">
                            <div class="widgettitle_wrap col-md-12">
                                <h2 class="widgettitle">
                                    <span>Últimas Noticias</span>
                                </h2>
                            </div>			
                            <div id="eventosRecientes" class="widget_posts_wrap">

                                <div class="latest-posts posts row" ng-repeat="noticia in ultimasNoticias.slice(0,3)">
                                    <div class="col-md-12">
                                        <span class="thumb">
                                            <a href="/#/noticia/{{noticia._id}}">
                                                <img width="80" height="80" src="/uploads/{{noticia.banner}}" 
                                                     class="attachment-javo-tiny size-javo-tiny wp-post-image">
                                            </a>
                                        </span>
                                        <h3>
                                            <a href="/#/noticia/{{noticia._id}}">{{noticia.titulo.slice(0,60)}}</a>
                                            <br>
                                            <span>{{noticia.fecha  | date:'MM/dd/yyyy h:mma'}}</span>
                                        </h3>     							
                                    </div>
                                </div>
                            </div>
                        </div>		
                        
                    </div>
                </div>
            </div>
    </div>
</div>

</script>

<script type="text/ng-template" id="/portafolio.html">
<!--<script> </script> -->
 <div class="javo_post_header_fancy" >
        <div class=" top-bar" style="display:table;">
            <div class="container" style="text-align:left;">
                <h3 style="margin-left:20px;" class="lblBlanco">Eventos</h3>
            </div>
        </div>
    </div>

   <div class="container" style="padding-top:32px;">
    
       <div class="divRenglon">
            <div class="col-md-8 itemListado">
                <div >
                <div class="panel panel-default panel-relative">

                    <img src="/uploads/{{noticia.banner}}" style="width:100%; height:439px;" />

                    <div class="panel-body itemListado">
                        <div class="col-md-12">

                            <a href="/#/evento/{{noticia._id}}" class="javo-tooltip javo-igl-title" >
                                <div>
                                    <h2 class="panel-title text-center">
                                        <strong>{{ noticia.nombre}} </strong>
                                    </h2>
                                    <div class="text-center" style="padding-top:5px;"> categoría </div>
                                </div>
                            </a>
                            <ul class="list list-unstyled">
                                <li class="text-center text-excerpt javo-grid-listing-excerpt">

                                    <p ng-bind-html="noticia.descripcion"></p>
                                </li>
                                <li class="text-center">
                                    <h2 class="javo-sns-wrap social-wrap">
                                        <i class="sns-facebook" data-title="SUPER CAR RENTAL" data-url="https://javothemes.com/directory/demo1/item/super-car-rental/">
                                            <a class="facebook javo-tooltip" title="" data-original-title="Share Facebook"></a>
                                        </i>
                                        <i class="sns-twitter" data-title="SUPER CAR RENTAL" data-url="https://javothemes.com/directory/demo1/item/super-car-rental/">
                                            <a class="twitter javo-tooltip" title="" data-original-title="Share Twitter"></a>
                                        </i>
                                        <i class="sns-heart">
                                            <a class="javo-tooltip favorite javo_favorite" data-post-id="2153" title="" data-original-title="Add My Favorite"></a>
                                        </i>
                                    </h2>
                                </li>
                            </ul><!-- List group -->
                        </div>
                    </div>

                    <div class="javo-left-overlay">
                        <div class="javo-txt-meta-area admin-color-setting">
                            Riego								
                        </div>
                        <div class="corner-wrap">
                            <div class="corner admin-color-setting"></div>
                            <div class="corner-background admin-color-setting"></div>
                        </div>
                    </div>
                </div>
            </div>
           </div>
           <div class="col-md-4">
                <a style="margin:0 auto; display:block; width:300px;">
                    <img width="300" height="600" src="http://www.tgmdigital.com/wp-content/uploads/2016/02/manrique-web.gif" style="margin:0 auto;">
                </a>
            </div>
        </div>
           
        <div ng-repeat="noticia in ultimosEventos"
             class="col-md-4 col-sm-6 col-xs-6 pull-left itemListado" style="padding-left:0;">
            <div >
                <div class="panel panel-default panel-relative">

                    <img src="/uploads/{{noticia.banner}}" />

                    <div class="panel-body itemListado">
                        <div class="col-md-12">

                            <a href="/#/evento/{{noticia._id}}" class="javo-tooltip javo-igl-title" >
                                <div>
                                    <h2 class="panel-title text-center">
                                        <strong>{{ noticia.nombre}} </strong>
                                    </h2>
                                    <div class="text-center" style="padding-top:5px;"> categoría </div>
                                </div>
                            </a>
                            <ul class="list list-unstyled">
                                <li class="text-center text-excerpt javo-grid-listing-excerpt">

                                    <p ng-bind-html="noticia.descripcion"></p>
                                </li>
                                <li class="text-center">
                                    <h2 class="javo-sns-wrap social-wrap">
                                        <i class="sns-facebook" data-title="SUPER CAR RENTAL" data-url="https://javothemes.com/directory/demo1/item/super-car-rental/">
                                            <a class="facebook javo-tooltip" title="" data-original-title="Share Facebook"></a>
                                        </i>
                                        <i class="sns-twitter" data-title="SUPER CAR RENTAL" data-url="https://javothemes.com/directory/demo1/item/super-car-rental/">
                                            <a class="twitter javo-tooltip" title="" data-original-title="Share Twitter"></a>
                                        </i>
                                        <i class="sns-heart">
                                            <a class="javo-tooltip favorite javo_favorite" data-post-id="2153" title="" data-original-title="Add My Favorite"></a>
                                        </i>
                                    </h2>
                                </li>
                            </ul><!-- List group -->
                        </div>
                    </div>

                    <div class="javo-left-overlay">
                        <div class="javo-txt-meta-area admin-color-setting">
                            Riego								
                        </div>
                        <div class="corner-wrap">
                            <div class="corner admin-color-setting"></div>
                            <div class="corner-background admin-color-setting"></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
                
    </div>
</script>

<script type="text/ng-template" id="/portafolio-evento.html">
<!--<script> </script> -->
<div style="">
    <div class="row">
        <div class="container">
            <div  id="contenedorEvento" class="col-md-9 main-content-wrap bgrdWhite divPadTop20">
                
                <div class="divRenglon divPad20-0">
                    <h1>{{evento.nombre}}</h1>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <div fb-like="oCompartirFacebookEvento.Url"></div>
                    </div>
                </div>
                <div class="altura32"></div>

                <div class="row">
                    <div class="col-md-12">
                        <header class="entry-header text-center">
                            <div id="divFechaHeaderImagen" class="label-ribbon-row {f}">
                                <div class="label-info-ribbon-row-wrapper">
                                    <div class="label-info-ribbon-row">
                                        <div class="ribbons" id="ribbon-15">
                                            <div class="ribbon-wrap">
                                                <div class="content">
                                                    <div class="ribbon">
                                                        <span class="ribbon-span"> {{evento.fechaInicio  | date:'MM/dd/yyyy h:mma'}} </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <a class="coverWrap">
                                <img src="/uploads/{{evento.banner}}" class="img-responsive img-portfolio img-hover photo">	
                            </a>
                        </header>
                    </div>

                </div>
                <div class="altura32"></div>

                <div id="contenedorEvento" class="divRenglon">
                    <div class="col-md-4">
                        <h4>Dirección:</h4> <p>{{evento.direccion}}</p>
                    </div>

                    <div class="col-md-4" >
                        <h4>Detalles:</h4>
                        <p >{{evento.descripcion}}</p>
                    </div>
                    
                    <div class="col-md-4" >
                        <h4>Horario</h4>
                        <h5 class="lblSecundario" style="margin:10px;">
                            {{evento.fechaInicio  | date:'MM/dd/yyyy h:mma'}}</h5>
                        <h5 class="lblSecundario" style="margin:10px;">
                            {{evento.fechaFin  | date:'MM/dd/yyyy h:mma'}}</h5>
                     </div>
                </div>            

                <div class="demo-section k-content wide divPadTop20" ng-show="evento.fotos.length > 0">
                    <div kendo-list-view id="listView" k-data-source="sourceFotosEvento">
                        <div class="product divFlotante div25perc" k-template>

                            <a name="{{ dataItem._id }}" class="coverWrap a-foto-portfolio" ng-click="verImagenGrande(dataItem._id)">
                                <img ng-src="/uploads/{{dataItem.url}}" alt=" {{dataItem.descripcion}} image" 
                                    class="photo img-foto-portfolio"/>
                            </a>
                        </div>
                    </div>
                    <div kendo-pager k-data-source="sourceFotosEvento"></div>
                </div>

                <div class="row divPadTop20">
                    <div class="col-xs-3">
                        <div fb-like="oCompartirFacebookEvento.Url"></div>
                    </div>
                </div>
                <div class="altura64"></div>

            </div> 
            
            <div class="col-md-3 sidebar-right">
                <div id="sideBarFixed" class="row" style=";">
                    
                    <div class="col-lg-12 siderbar-inner">
                        <div class="row widgets-wraps">
                            <div class="widgettitle_wrap col-md-12">
                                <h2 class="widgettitle">
                                    <span>Mantente conectado</span>
                                </h2>
                            </div>
                            <div class="widget_posts_wrap">
                                <div class="col-md-4">
                                    <a class="qodef-icon-shortcode normal qodef-icon-huge" style="margin-left:20px;">
                                        <i class="qodef-icon-font-awesome fa fa-facebook qodef-icon-element" style=""></i>
                                    </a>
                                </div>
                                 <div class="col-md-4">
                                    <a class="qodef-icon-shortcode normal qodef-icon-huge" style="margin-left:20px;">
                                        <i class="qodef-icon-font-awesome fa fa-twitter qodef-icon-element" style=""></i>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="qodef-icon-shortcode normal qodef-icon-huge" style="margin-left:20px;">
                                        <i class="qodef-icon-font-awesome fa fa-youtube qodef-icon-element" style=""></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row widgets-wraps">
                            <a style="margin:0 auto; display:block;">
                                <img width="300" height="250" src="http://www.tgmdigital.com/wp-content/uploads/2016/07/banner_picasso_cesped_334x239.gif" class="" >
                            </a>	        
                        </div>
                        
                        <div class="row widgets-wraps">
                            <div class="widgettitle_wrap col-md-12">
                                <h2 class="widgettitle">
                                    <span>Últimos Eventos</span>
                                </h2>
                            </div>			
                            <div id="eventosRecientes" class="widget_posts_wrap">

                                <div class="latest-posts posts row" ng-repeat="objeto in ultimosEventos.slice(0,3)">
                                    <div class="col-md-12">
                                        <span class="thumb">
                                            <a href="/#/evento/{{objeto._id}}">
                                                <img width="80" height="80" src="/uploads/{{objeto.banner}}" 
                                                     class="attachment-javo-tiny size-javo-tiny wp-post-image">
                                            </a>
                                        </span>
                                        <h3>
                                            <a href="/#/evento/{{objeto._id}}">{{objeto.nombre.slice(0,60)}}</a>
                                            <br>
                                            <span>{{objeto.fecha  | date:'MM/dd/yyyy h:mma'}}</span>
                                        </h3>     							
                                    </div>
                                </div>
                            </div>
                        </div>		
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
</script>
    
<script type="text/ng-template" id="myModalContent.html">
<!--<script> </script> -->
    
    <div style="width:100%; height:500px; background-color:black;">
        <a class="qodef-icon-shortcode normal qodef-icon-little" ng-click="verFotoAnterior()"
            style="top:50%; left:0; position: absolute; cursor:pointer;">
            <i class="qodef-icon-font-awesome fa fa-arrow-circle-left qodef-icon-element" style=""></i>
        </a>
        
        <img id="imgFotoDetalle" class="img-foto-detalle" style="{{obtenerOffSetFoto(this)}}" src="/uploads/{{url}}" />
        
        <a class="qodef-icon-shortcode normal qodef-icon-little" ng-click="verFotoSiguiente()"
            style="top:50%; right:0; position: absolute; cursor:pointer;">
            <i class="qodef-icon-font-awesome fa fa-arrow-circle-right qodef-icon-element" style=""></i>
        </a>
    </div>
    
</script>

      
<script type="text/ng-template" id="/register.html">
<!--<script> </script> -->
  <div class="row">
	<div class="col-md-5 col-md-offset-4 bgrdWhite">
        <div class="page-header" >
            <h1 class="lblPrincipal">Registro</h1>
        </div>
  
          <div ng-show="error" class="alert alert-danger row">
            <span>{{ error }}</span>
          </div>
            <h3 class="lblSecundario">Registrate con tu dirección de email</h3>   
          <form ng-submit="register()"
            class="m30">
            
            <div class="form-group">
              <input type="text"
              class="form-control"
              placeholder="Nombre empresa"
              ng-model="user.name"></input>
            </div>
            
            <div class="form-group">
              <input type="text"
              class="form-control"
              placeholder="Username"
              ng-model="user.username"></input>
            </div>
            
            <div class="form-group">
              <input type="password"
              class="form-control"
              placeholder="Password"
              ng-model="user.password"></input>
            </div>
            
            <div class="form-group">
              <input type="email"
              class="form-control"
              placeholder="email"
              ng-model="user.email"></input>
            </div>
            
            <div class="form-group">
              <input type="email"
              class="form-control"
              placeholder="Confirmar email"
              ng-model="user.email_confirm"></input>
            </div>
            
            <div class="radio">
              <label><input type="radio" name="optradio" ng-model="user.tipo" value="10">Master(Distribuidor/importador)</label>
            </div>
            
            <div class="radio">
              <label><input type="radio" name="optradio" ng-model="user.tipo" value="20">Distribuidor</label>
            </div>
            
            <div class="radio">
              <label><input type="radio" name="optradio" ng-model="user.tipo" value="30" >
              Contratista
            </label>
            </div>
            <div class="checkbox" ng-model="user.usar_email">
                <label><input type="checkbox" value="">
                Compartir mis datos de registro con los proveedores de contenido de {{appname}} para fines de marketing.
                
                </label>
            </div>
            <div class="form-group">            
                Al hacer click en Registrarse, aceptas los <a>términos y condiciones </a> y la <a>política de privacidad</a> de 
                    {{appname}}.
            </div>
            <div class="form-group">
                <button  type="submit" class="btn btn-primary col-sm-4 col-md-10 col-lg-12">Registrarse</button>
            </div>
            <div class="altura64"></div>
          </form>
          </div>
  </div>
</script>

<script type="text/ng-template" id="/login.html">
<!--<script> </script> -->
  <div class="row">
	<div class="col-md-4 col-md-offset-4 bgrdWhite">
        <div class="page-header" >
            <h1 class="lblPrincipal">Inicio de Sesión</h1>
        </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="logIn()"
        class="m30">


        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Username"
          ng-model="user.username"></input>
        </div>
        <div class="form-group">
          <input type="password"
          class="form-control"
          placeholder="Password"
          ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      </form>
      </div>
  </div>
</script>
	

      
  </body>
</html>