
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      
      <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    
      
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script src="/javascripts/realTimeApp.js"></script>
    
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.1.226/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.1.226/styles/kendo.material.min.css" />
    
    <script src="https://kendo.cdn.telerik.com/2016.1.226/js/kendo.all.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
      
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8Xq5o6lNl4YyFt0F30E_yas-zDNk3sMg" async defer></script>

      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8Xq5o6lNl4YyFt0F30E_yas-zDNk3sMg" async defer></script>

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/videogular/1.4.4/videogular.min.js"></script>
      <!--<script src="http://static.videogular.com/scripts/videogular/latest/videogular.js"></script>-->
    
      <script> 
          if (!String.prototype.format) {
              String.prototype.format = function() {
                var args = arguments;
                return this.replace(/{(\d+)}/g, function(match, number) { 
                  return typeof args[number] != 'undefined'
                    ? args[number]
                    : match
                  ;
                });
              };
            }
      </script>
    
      <style>
          
        body {
            background: whitesmoke;
        }
        .container-fluid {
            margin-top : 10px   ;    
        }
          
       .title {
            color: #00587c;
       }
    
        .subtitle-inverse {
            color: darkgray;
        }
          
        .btn-edit {
            background-color: black;
        }
          
          
          
        #map {
            height: 350px;
            width: 100%;
            }
          
      </style>
  </head>
    
  <body ng-app="realTime" class="bgrdBody"> 
	<nav class="navbar navbar-static-top navbar-dark bg-inverse p10 menuPrincipal" 
         ng-controller="NavCtrl">
        
		 <h3><dl>
		 <a href="/#/home" style="float:left; color: white;">
           <span class="glyphicon glyphicon-grain" aria-hidden="true" style="margin-right:2px;"></span>
             RIEGO SUSTENTABLE       </a> 
          </dl>
        </h3>
        
        <ul class="nav navbar-nav  pull-right">
            
            <li class="dropdown">
                <a class="dropdown-toggle btn-menu" data-toggle="dropdown" style="color:white;">Industria
                <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="m10"
                    ng-repeat="categoria in categorias">
                    <a href="/#/directorio/{{ categoria.id }}">{{ categoria.nombre }}</a>
                    </li>
                  
                  </ul>
            </li>


             <li class="dropdown">
                <a class="dropdown-toggle btn-menu" data-toggle="dropdown" style="color:white;">Tipo Industria
                <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="m10"
                    ng-repeat="tipo in tipo_industria">
                    <a href="/#/directorio/{{ tipo.id }}">{{ tipo.nombre }}</a>
                    </li>
                  
                  </ul>
            </li>
            
             <li class="dropdown">
                <a class="dropdown-toggle btn-menu" data-toggle="dropdown" style="color:white;">Iluminación
                <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="m10"
                    ng-repeat="tipo in iluminacion">
                    <a href="/#/directorio/{{ tipo.id }}">{{ tipo.nombre }}</a>
                    </li>
                  
                  </ul>
            </li>
            
            <li><a href="/eventos/#/portafolio" class="btn btn-menu">Eventos</a></li>
            
            
              
            <li class="dropdown" ng-show="isLoggedIn()">
                <a class="dropdown-toggle btn-menu" data-toggle="dropdown" style="color:white;">{{ currentUser() }}
                <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="m10">
                        <a href="/profile/#/override">Cuenta</a>
                    </li>
                    <li class="m10">
                        <a ng-click="logOut()">Cerrar sesión</a>
                          
                    </li>
                      
                </ul>
            </li>
              <li ng-hide="isLoggedIn()"><a href="/#/login" class="btn btn-menu">Iniciar sessión</a></li>
		      <li ng-hide="isLoggedIn()"><a href="/#/register" class="btn btn-menu">Registrarse</a></li>
		</ul>
	</nav>
  
  
	
	<ui-view></ui-view>
    
    

<script type="text/ng-template" id="/directorio.html">
        <div style="height: 400px;">
            <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
              <uib-slide ng-repeat="slide in slidesHome" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto; width:100%; height:400px;">
                <div class="carousel-caption">
                  <h1><div style="color:white;">{{slide.desc}}</div></h1>
                  
                  <div class="col-md-offset-3 col-md-6 input-group">
                    <input kendo-auto-complete 
                        k-options="autoCompleteOptions"
                        ng-model="textoBusqueda"
                        style="width: 100%;" />

                    <span class="input-group-addon btnGeneral" id="basic-addon2">
                    <a href="#/directorio-resultados/{{textoBusqueda}}">Buscar</a>
                </span>
                  </div>
                  
                  <h4><p>{{slide.text}}</p></h4>
                </div>
              </uib-slide>
            </uib-carousel>
        </div>

        <div class="row search-box-home">
            <div class="container-fluid" >
                <h2 class="lblPrincipal">Todo para tu sistema de riego</h2>
                <h5>Elige tu distribuidor, compara precios y agenda cita.</h5>
                
                
                <div class="col-sm-3"  ng-repeat="distribuidor in distribuidores">
                <div class='thumbnail' style="height:120px;">
                    
                    <a href="/#/detalle/{{distribuidor._id }}">
                    <img src='/uploads/{{ distribuidor.banner || bannerBack }}' style="width:100%;height:70%;"/> 
                    
                            <h4 style="text-transform: capitalize;">
                                {{distribuidor.nombre}}</h4>
                                </a>
                    </div>
                </div>
            </div>
                
                                
            </div>
        </div>
        
        <div class="row divGris">
            <div class="col-lg-12 divAlignCenter">
                <h1 class="page-header">
                    Sistemas de riego a la medida
                </h1>
            </div>
            <div class="col-lg-4 vc_column_container">
                <div class="vc_custom_1459900974046">
                    <div class="divEspacios">
                        <h4 class="lblBlanco"> Sistemas automatizables</h4>
                        <p class="lblBlanco">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default btnGeneral">Ver Más</a>
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col-md-4 vc_column_container">
                <div class="vc_custom_1459900992558">
                    <div class="divEspacios">
                        <h4 class="lblPrincipal"> Distribuidores de toda Latinoamérica</h4>
                        <p class="lblPrincipal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default btnGeneral">Ver Más</a>
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col-md-4 vc_column_container">
                <div class="vc_custom_1459901011310">
                    <div class="divEspacios">
                        <h4 class="lblBlanco"> Atención inmediata</h4>
                        <p class="lblBlanco">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default btnGeneral">Ver Más</a>
                        &nbsp;
                    </div>
                </div>
            </div>
  
        </div>
        <div class="divGris">
        <div class="container">
            <div class="col-lg-13">
                <h2 class="page-header">Eventos</h2>
            </div>
            
             <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
              <uib-slide ng-repeat="slideCollection in groupedSlides" index="evento._id">

                <a href="/eventos/#/portafolio-evento/{{ slideCollection.image1._id }}" class="a-portfolio coverWrap altura150" style="margin-left:7%;">

                    <img class="img-responsive img-portfolio img-hover" width="" src="../uploads/{{slideCollection.image1.banner}}" alt="">
                </a>
               
               <a href="/eventos/#/portafolio-evento/{{ slideCollection.image2._id }}" class="a-portfolio coverWrap altura150">
                    <img class="img-responsive img-portfolio img-hover" width="margin:auto;min-width:100%;" src="../uploads/{{slideCollection.image2.banner}}" alt="">
                </a>
				
                <a href="/eventos/#/portafolio-evento/{{ slideCollection.image3._id }}" class="a-portfolio coverWrap altura150" >
                    <img class="img-responsive img-portfolio img-hover" width="margin:auto;min-width:100%;" src="../uploads/{{slideCollection.image3.banner}}" alt="">
                </a>
            </uib-carousel>
        
        </div>
        </div>
        
        <div class="container">
            <div class="col-lg-12">
                <h2 class="page-header">Características de sistemas de riego</h2>
            </div>
            <div class="col-md-6">
                <p>El servicio consiste en:</p>
                <ul>
                    <li><strong>Para jardines</strong>
                    </li>
                    <li>Públicos</li>
                    <li>Privados</li>
                    <li>Canchas</li>
                    <li>Todo tipo de accesorios</li>
                    <li>Garantia</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="../images/rotator-700x450.jpg" alt="">
            </div>
        </div>
        <hr>
        <div class="footerCategorias">
          <div class="row">
          <div class="col-md-3">
          <h3 class="m10" style="color:gray;">Industria Riego</h3>
          <div class="m10"
                ng-repeat="categoria in tipo_industria">
                <a href="/#/directorio/{{ categoria.id }}">{{ categoria.nombre }}</a>
            </div>
            </div>
            <div class="col-md-3">
            <h3 class="m10" style="color:gray;">Tipo de industria</h3>
            <div class="m10" style="margin-left:3px;"
                ng-repeat="categoria in categorias">
                <a href="/#/directorio/{{ categoria.id }}">{{ categoria.nombre }}</a>
            </div>
            </div>
            
            <div class="col-md-3">
            <h3 class="m10" style="color:gray">Contacto</h3>
             <div class="m10" style="margin-left:3px;"     >
                <a>Diplay Imagén y publicidad </a>
                </div>
                <div class="m10" style="margin-left:3px;"     >

                <a>Tel: 4423657157</a>
                </div>
                <div class="m10" style="margin-left:3px;"     >
                <a> aespino@displayimagenpublicidad.com</a>
                </div>
                <div class="m10" style="margin-left:3px;"     >
            </div>
            </div>
            
            <div class="m10"
                ng-repeat="categoria in iluminacion">
                <a href="/#/directorio/{{ categoria.id }}">{{ categoria.nombre }}</a>
            </div>
            </div>
        </div>
        </script>
        

      
<script type="text/ng-template" id="/directorio-resultados.html">
<div class="altura32"></div>
 <div class="container">
 
    
    <div class="row">
        
        <div class="col-md-2" style="margin:10px" >
                
            <div class="row" >
               <div class="panel panel-primary">
                    <div class="panel-heading"><b>Categorias</b></div>
                        <div class="panel-body">
                          <div ng-repeat="categoria in categorias">
                          <b>
                          
<label class="checkbox-inline"><input type="checkbox" value="">
                              <a style="color:gray" href="/#/directorio/{{ categoria.id }}">{{ categoria.nombre }}</a>
                              </label>
                              </b>
                            </div>
                        </div>
                     </div>
             </div>
                             
            <div class="row" >
               <div class="panel panel-primary">
                    <div class="panel-heading"><b>Pais</b></div>
                        <div class="panel-body">
                          <div >
                            <b>
                            <label class="checkbox-inline"><input type="checkbox" value="">
                              <a style="color:gray" href="/#/directorio/1">Argentina</a>
                              </label>
                              </b>
                            </div>
                            
                            <div >
                            <b>
                             <label class="checkbox-inline"><input type="checkbox" value="">
                              <a style="color:gray" href="/#/directorio/1">Mexico</a>
                               </label>
                              </b>
                            </div>
                                
                            <div >
                            <b>
                             <label class="checkbox-inline"><input type="checkbox" value="">
                              <a style="color:gray" href="/#/directorio/1">Chile</a>
                               </label>
                              </b>
                            </div>
                        </div>
                     </div>
             </div>
      
    </div>
        
        
        <div class="col-md-9 bgrdWhite">
        
            <div class="page-header" >
                
            
                 <h3 class="lblPrincipal" style="text-transform: uppercase;"><b>{{categoriaActual.nombre}}</b></h3>
                 <div class="col-sm-offset-5 col-md-7 input-group">
                    
               
                
                <input kendo-auto-complete 
                    k-options="autoCompleteOptions"
                    ng-model="textoBusqueda"
                    style="width: 100%;" 
                    >
                
                <span class="input-group-addon btnGeneral" id="basic-addon2">
                    <a href="#/directorio-resultados/{{textoBusqueda}}">Buscar</a>
                </span>
                    </input>
            </div>
            </div>
            <div class="col-sm-3"  ng-repeat="distribuidor in distribuidores">
                <div class='thumbnail' style="height:100px;">
                  <div>
                    <a href="/#/detalle/{{distribuidor._id }}">
                            <h5 style="text-transform: capitalize;">
                    <img src='/uploads/{{ distribuidor.logo || bannerBack }}' style="width:80px;height:80px;"/> 
                                {{distribuidor.nombre}}</h5>
                                </a>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>
</script>
      

      

<script type="text/ng-template" id="/detalle.html">
 <div class="container">
 
    <div class="row" >
    
    <div class="col-lg-2">
    
        <div class="altura32"></div>
        <div class="row" >
               <div class="panel panel-primary">
                    <div class="panel-heading"><b>Información</b></div>
                        <div class="panel-body list-group">
                               <a href="#" class="thumbnail">
                                <img  src='/uploads/{{ distribuidor.logo }}'     alt="Icono empresa" width="150" height="140">
                                </a>
                                <div class="list-group-item">
                                <p>{{ distribuidor.direccionCompleta }}</p>
                                </div>
                                <div  class="list-group-item">
                                <p>{{ distribuidor.descripcion }}</p>
                                </div>
                        </div>
                     </div>
             </div>
    
        </div>
    
    <div class="altura32"></div>
    
        <div class="col-md-7" >
        
             
             <div>
                <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="slide in slidesdis" index="slide.id">
                        <img ng-src="{{slide.image}}" style="margin:auto; width:100%; height:340px;">
                    </uib-slide>
                  </uib-carousel>
                </div>
             
        
                <div style="background:white;"> 
                  <h2 style="text-transform: capitalize;" ><b>{{ distribuidor.nombre}}</b></h2>
                    <div>
                          <i class="fa fa-facebook-square fa-3x" style="color: #3b5998;" aria-hidden="true"></i>
                         <i class="fa fa-twitter-square fa-3x " style="color: #4099FF;"></i>
                         <i class="fa fa-link-square fa-3x" ></i>
                    </div>
           
                
                
                
                        
                <div class="btn-group" role="group" aria-label="...">
                    <h4><b>Servicios: </b></h4>
                    <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                    Sistemas de riego</button>

                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                        Herramientas</button>
                    <button type="button" class="btn btn-iluminiti">
                        <span class="glyphicon glyphicon-lamp" aria-hidden="true"></span>
                        Iluminación</button>
                    <button type="button" class="btn btn-connector" >
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    Tuberia</button>
                    <button type="button" class="btn btnGeneral">
                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    Conexiones</button>
                </div>  
                
            </div>
        
    <div class="altura32"></div>
    <div class="">
        <div class="row" >
        <div class="list-group-item active">
            <h4><b> Mis videos</b></h4>
        </div>
        <div class="altura32"></div>
            <div class="">
                <uib-carousel active="active" interval="myIntervalSlow" no-wrap="noWrapSlides">
                  <uib-slide ng-repeat="config in videosDistribuidor" index="config.id">
                    
                    <div class="videogular-container">
                    <videogular vg-theme="config.theme.url">
                        <vg-media vg-src="config.sources"
                                  vg-tracks="config.tracks"
                                  vg-native-controls="true">
                        </vg-media>
                    </videogular>
                    </div>
                    
                  </uib-slide>
                </uib-carousel>
            </div>
        </div>
    </div>
        
    
    
    </div>
    <div class="col-md-3">
    
        
        <div class="row" >
               <div class="panel panel-primary">
                    <div class="panel-heading"><b>Sucursales</b></div>
                        <div class="panel-body">
                          <div id="map"></div>
                        </div>
                     </div>
             </div>
             
        
    
        <div class="altura32"></div>
            <div class="row" >
               <div class="panel panel-primary">
                    <div class="panel-heading"><b>Sugerencias</b></div>
                        <div class="panel-body">
                          <div ng-repeat="distribuidor in distribuidores">
                            <a href="/#/detalle/{{distribuidor._id }}">
                            <h3 style="text-transform: capitalize;" >
                            <img src='/uploads/{{ distribuidor.logo }}'  style="width:50px;height:8 0px;"/> 
                                {{distribuidor.nombre}}</h3>
                                </a>
                            </div>
                        </div>
                     </div>
             </div>
             
             <div class="altura32"></div>
            <div class="row" >
               <div class="panel panel-primary">
                    <div class="panel-heading"><b>Eventos</b></div>
                        <div class="panel-body">
                          <div ng-repeat="distribuidor in groupedSlides">
                            <a href="/#/detalle/{{distribuidor }}">
                            <h3 style="text-transform: capitalize;"style="text-transform: capitalize;">
                             
                                {{distribuidor.nombre}}</h3>
                                </a>
                            </div>
                        </div>
                     </div>
             </div>  
             
       </div>             
    </div> 
     
  
            </div>
    


</script>
	
<script type="text/ng-template" id="/register.html">
  <div class="row">
	<div class="col-md-5 col-md-offset-4 bgrdWhite">
        <div class="page-header" >
            <h1 class="lblPrincipal">Registro</h1>
        </div>
  
          <div ng-show="error" class="alert alert-danger row">
            <span>{{ error }}</span>
          </div>
            <h3 class="lblSecundario">Registrate con tu dirección de email</h3>   
          <form ng-submit="register()"
            class="m30">
            
            <div class="form-group">
              <input type="text"
              class="form-control"
              placeholder="Nombre empresa"
              ng-model="user.name"></input>
            </div>
            
            <div class="form-group">
              <input type="text"
              class="form-control"
              placeholder="Username"
              ng-model="user.username"></input>
            </div>
            
            <div class="form-group">
              <input type="password"
              class="form-control"
              placeholder="Password"
              ng-model="user.password"></input>
            </div>
            
            <div class="form-group">
              <input type="email"
              class="form-control"
              placeholder="email"
              ng-model="user.email"></input>
            </div>
            
            <div class="form-group">
              <input type="email"
              class="form-control"
              placeholder="Confirmar email"
              ng-model="user.email_confirm"></input>
            </div>
            
            <div class="radio">
              <label><input type="radio" name="optradio" ng-model="user.tipo" value="10">Master(Distribuidor/importador)</label>
            </div>
            
            <div class="radio">
              <label><input type="radio" name="optradio" ng-model="user.tipo" value="20">Distribuidor</label>
            </div>
            
            <div class="radio">
              <label><input type="radio" name="optradio" ng-model="user.tipo" value="30" >
              Contratista
            </label>
            </div>
            <div class="checkbox" ng-model="user.usar_email">
                <label><input type="checkbox" value="">
                Compartir mis datos de registro con los proveedores de contenido de {{appname}} para fines de marketing.
                
                </label>
            </div>
            <div class="form-group">            
                Al hacer click en Registrarse, aceptas los <a>términos y condiciones </a> y la <a>política de privacidad</a> de 
                    {{appname}}.
            </div>
            <div class="form-group">
                <button  type="submit" class="btn btn-primary col-sm-4 col-md-10 col-lg-12">Registrarse</button>
            </div>
            <div class="altura64"></div>
          </form>
          </div>
  </div>
</script>

<script type="text/ng-template" id="/login.html">
  <div class="row">
	<div class="col-md-4 col-md-offset-4 bgrdWhite">
        <div class="page-header" >
            <h1 class="lblPrincipal">Inicio de Sesión</h1>
        </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="logIn()"
        class="m30">


        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Username"
          ng-model="user.username"></input>
        </div>
        <div class="form-group">
          <input type="password"
          class="form-control"
          placeholder="Password"
          ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      </form>
      </div>
  </div>
</script>
	
     
    
      
  </body>
</html>